@@include('./include/head.html',{"title": "로그인 : NAVER CLOVA EMR", "list_title": "로그인 : Common"})

<body data-pagestatus="new : 2021.12.21">
  <div class="wrap">
    <!-- [D] CONTENTS -->
    <main id="content">
      <div id="login" class="layout">
        <div class="column2 login_banner">
          <img src="../img/login/banner.svg" alt="">
        </div>
        <div class="column2 login_section">
          <div class="login_wrap">
            <h1 class="title" size="32" weight="bold">안녕하세요.
              <br>Dv2에 로그인 합니다.
            </h1>
            <div class="tab_group">
              <div class="tab_lst_box">
                <ul class="tab_lst">
                  <li class="is_active">
                    <a href="#general">일반 로그인</a>
                  </li>
                  <li>
                    <a href="#office">진료실 모드</a>
                  </li>
                </ul>
              </div>
              <div class="tabs">
                <div class="tab is_active" id="general">
                  <form action="" method="post">
                    <label for="input1">치과 아이디</label>
                    <span class="input" size="52" data-error="일치하는 정보가 없습니다.">
                      <input type="text" id="input1" placeholder="치과 아이디 입력">
                    </span>
                    <label for="input2">직원 아이디</label>
                    <span class="input" size="52" data-error="일치하는 정보가 없습니다.">
                      <input type="text" id="input2" placeholder="직원 아이디 입력">
                    </span>
                    <label for="input3">비밀번호</label>
                    <span class="input password" size="52" data-error="비밀번호를 확인해 주세요.">
                      <input type="password" id="input3" placeholder="비밀번호 입력">
                      <button type="button" class="toggleShow" stat="hide">
                        <span class="blind">비밀번호 보이기/숨기기</span>
                      </button>
                    </span>
                    <div class="optional">
                      <span class="chkbox">
                        <input type="checkbox" checked id="checkbox1">
                        <label for="checkbox1">아이디 기억</label>
                      </span>
                      <span class="chkbox">
                        <input type="checkbox" checked id="checkbox2">
                        <label for="checkbox2">비밀번호 기억</label>
                      </span>
                      <span class="switch">
                        <input type="checkbox" id="switch1">
                        <label for="switch1">화상키보드로 입력
                          <span class="switch_btn"></span>
                        </label>
                      </span>
                    </div>
                    <button disabled class="submit_btn btn primary">로그인</button>
                    <ul class="extra_link">
                      <li>
                        <a href="#none">아이디 발급 신청</a>
                      </li>
                      <li>
                        <a href="#none">아이디/비밀번호 찾기</a>
                      </li>
                    </ul>
                  </form>
                </div>
                <div class="tab" id="office">
                  <form action="" method="post">
                    <label for="input4">치과 아이디</label>
                    <span class="input" size="52" data-error="일치하는 정보가 없습니다.">
                      <input type="text" id="input4" placeholder="치과 아이디 입력">
                    </span>
                    <label for="input5">직원 아이디</label>
                    <span class="input" size="52" data-error="일치하는 정보가 없습니다.">
                      <input type="text" id="input5" placeholder="직원 아이디 입력">
                    </span>
                    <label for="input6">비밀번호</label>
                    <span class="input password" size="52" data-error="비밀번호를 확인해 주세요.">
                      <input type="password" id="input6" placeholder="비밀번호 입력">
                      <button type="button" class="toggleShow" stat="hide">
                        <span class="blind">비밀번호 보이기/숨기기</span>
                      </button>
                    </span>
                    <div class="optional">
                      <span class="chkbox">
                        <input type="checkbox" checked id="checkbox3">
                        <label for="checkbox3">아이디 기억</label>
                      </span>
                      <span class="chkbox">
                        <input type="checkbox" checked id="checkbox4">
                        <label for="checkbox4">비밀번호 기억</label>
                      </span>
                      <span class="switch">
                        <input type="checkbox" id="sw2">
                        <label for="sw2">화상키보드로 입력
                          <span class="switch_btn"></span>
                        </label>
                      </span>
                    </div>
                    <button disabled class="submit_btn btn primary">로그인</button>
                    <ul class="extra_link">
                      <li>
                        <a href="#none">아이디 발급 신청</a>
                      </li>
                      <li>
                        <a href="#none">아이디/비밀번호 찾기</a>
                      </li>
                    </ul>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- // [D] CONTENTS -->

    <!-- [D] LAYER -->
    <div class="layer">

      <div class="popup_wrap">
        <div class="popup" id="popup1">
          <div class="popup_innerwrap">
            <div class="popup_cont">
              <strong class="title" size="24" weight="bold">6개월마다 <span class="primary_txt">새로운 비밀번호</span>로<br>안전하게 관리해 주세요!</strong>
              <form action="">
                <label for="input7">기존 비밀번호</label>
                <span class="input password" size="52">
                  <input type="password" id="input7">
                  <button type="button" class="toggleShow" stat="hide">
                    <span class="blind">비밀번호 보이기/숨기기</span>
                  </button>
                </span>
                <label for="input8">새로운 비밀번호</label>
                <span class="input password" size="52">
                  <input type="password" id="input8">
                  <button type="button" class="toggleShow" stat="hide">
                    <span class="blind">비밀번호 보이기/숨기기</span>
                  </button>
                </span>
                <label for="input9">새로운 비밀번호 확인</label>
                <span class="input password" size="52">
                  <input type="password" id="input9">
                  <button type="button" class="toggleShow" stat="hide">
                    <span class="blind">비밀번호 보이기/숨기기</span>
                  </button>
                </span>
              </form>
            </div>
            <div class="popup_bottom">
              <button class="btn">60일 뒤에 변경</button>
              <button class="btn primary">변경하기</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    @@include('./include/script.html')

    <!-- Caseview  -->
    <script src="../js/libs/vendor.min.js"></script>
    <style>
      .case_review {
        position: fixed;
        top: 20px;
        right: 20px;
        width: auto;
        padding: 8px;
        z-index: 600;
        background: #000;
        color: #fff;
        opacity: 0.7;
        filter: alpha(opacity=70);
      }

      .case_review a {
        display: block;
        padding: 4px 0;
        font-size: 12px;
        color: #fff;
      }

      .case_review a:hover {
        color: #fff4a6;
      }
    </style>
    <div class="case_review">
      <a href="#none" onclick="$('html').attr('theme', $('html').attr('theme') === 'light' ? 'dark' : 'light')">Dark/Light theme</a>
      <a href="#none" onclick="$('.input[data-error]').toggleClass('error')">[입력] 오류</a>
      <a href="#none" onclick="$('.submit_btn').removeAttr('disabled')">[버튼] 활성화</a>
      <a href="#none" onclick="$('.layer,#popup1').toggle()">[팝업] 비밀번호 변경</a>
    </div>
  </div>
</body>

</html>
