@@include('./include/head.html',{"title": "패널 : NAVER CLOVA EMR", "list_title": "[팝업] 다음 진료 : 전자차트"})

<body data-pagestatus="new : 2022.02.17">
  <div class="wrap">
    <!-- [D] CONTENTS -->
    <main id="content">

      <div class="layer show dimmed">

        <div class="popup_wrap">
          <div class="popup" id="next_popup" style="display: block;">
            <div class="popup_innerwrap">
              <div class="popup_head">
                <strong class="tit">다음 진료(Next) 입력</strong>
                <button class="popup_close_btn"><span class="blind">팝업 닫기</span></button>
              </div>
              <div class="popup_cont">
                <div class="popup_inner" data-simplebar>
                  <div class="data_filter">
                    <strong class="title">기타 다음 진료 목록</strong>
                    <div class="select">
                      <button type="button" value="김덴트" class="select_btn">김덴트</button>
                      <div class="select_opt">
                        <ul data-simplebar>
                          <li><button type="button" class="option" value="김덴트">김덴트</button></li>
                          <li><button type="button" class="option" value="의사A">의사A</button></li>
                          <li><button type="button" class="option" value="의사B">의사B</button></li>
                          <li><button type="button" class="option" value="의사C">의사C</button></li>
                          <li><button type="button" class="option" value="의사D">의사D</button></li>
                        </ul>
                      </div>
                    </div>
                    <button class="btn btn_next">다음 진료 설정</button>
                  </div>
                  <div class="content">
                    <div class="treatments_lst" data-simplebar>
                      <ul class="list">
                        <li class="item">
                          <button class="btn rounded">정기 검진</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">1주 ck</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Endo (시작)</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Endo (CE)</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Endo (CI)</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Endo (CF)</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Cr del (T/S)</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">발치</button>
                        </li>
                        <!-- 사용자가 색상을 사용자 정의할 때 is_custom 클래스 추가 -->
                        <li class="item is_active is_custom">
                          <button class="btn rounded" style="color:#fff;background:#ee6950">수술 발치</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">발치 + GBR</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">드레싱</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">S/O</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Inlay prep</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Implant OP</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">G.J</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Cr prep</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Implant OP</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Implant OP + Sinus</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Post + core + Cr prep</button>
                        </li>
                        <li class="item is_active is_custom">
                          <button class="btn rounded" style="color:#333;background:#F9D2AA">Inlay del</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">CA RF</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Post + core + Cr prep</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Implant OP</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">드레싱</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">S/O</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Inlay prep</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Implant OP</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">G.J</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Cr prep</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Implant OP</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Endo (CF)</button>
                        </li>
                        <li class="item">
                          <button class="btn rounded">Inlay prep</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <p class="note">※ 클릭 시 선택 항목 입력되고, 추가로 입력을 원할 경우 항목을 우클릭하세요.</p>
                  <div class="treatments_area">
                    <div class="treatments_next">
                      <div class="treatments_title">2021-10-02 입력된 진료와 연관된 다음 진료</div>
                      <div class="treatments_cont">
                        <div class="lst_wrap" data-simplebar>
                          <ul class="list">
                            <li class="item">발사 (S/O)</li>
                            <li class="item">드레싱</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="treatments_prev">
                      <div class="treatments_title">2021-10-02 진료에 기존에 입력된 다음 진료 히스토리</div>
                      <div class="treatments_cont">
                        <div class="lst_wrap" data-simplebar>
                          <ul class="list">
                            <li class="item">dre</li>
                            <li class="item">dre, sc</li>
                            <li class="item">#16 dr</li>
                            <li class="item">#16 dre</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <strong class="title">입력할 다음 진료</strong>
                  <div class="data_filter">
                    <div class="form_group">
                      <div class="form_title">
                        <span class="form_txt">작성자</span>
                      </div>
                      <div class="form_cont">
                        <div class="select">
                          <button type="button" value="김덴트" class="select_btn">김덴트</button>
                          <div class="select_opt">
                            <ul data-simplebar>
                              <li><button type="button" class="option" value="김덴트">김덴트</button></li>
                              <li><button type="button" class="option" value="의사A">의사A</button></li>
                              <li><button type="button" class="option" value="의사B">의사B</button></li>
                              <li><button type="button" class="option" value="의사C">의사C</button></li>
                              <li><button type="button" class="option" value="의사D">의사D</button></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form_group">
                      <div class="form_title">
                        <span class="form_txt">다음 예약일</span>
                      </div>
                      <div class="form_cont">
                        <div class="calendar">
                          <span class="input">
                            <input type="text" placeholder="예약일 선택">
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form_group">
                      <div class="form_title">
                        <span class="form_txt">소요시간</span>
                      </div>
                      <div class="form_cont">
                        <div class="select">
                          <button type="button" class="select_btn">=선택=</button>
                          <div class="select_opt">
                            <ul data-simplebar>
                              <li><button type="button" class="option" value="선택 안함">선택 안함</button></li>
                              <li><button type="button" class="option" value="30분">30분</button></li>
                              <li><button type="button" class="option" value="1시간">1시간</button></li>
                              <li><button type="button" class="option" value="1시간30분">1시간30분</button></li>
                              <li><button type="button" class="option" value="2시간">2시간</button></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="content">
                    <div class="content_inner">
                      <div class="tooth_select" id="toothNext">
                        <div class="tooth_select_main">
                          <div class="tooth_content" data-toothselect="">
                            <ul class="tooth_list" data-toothall="">
                              <li>
                                <span class="tooth">
                                  <input type="checkbox" id="tooth18">
                                  <label for="tooth18">
                                    <span class="tooth_num">18</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_top">
                                  <input type="checkbox" id="gums18">
                                  <!--elastic, screw, loop 클래스 추가 시 활성화 됨-->
                                  <label for="gums18"><span class="blind">gums 18</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth">
                                  <input type="checkbox" id="tooth17">
                                  <label for="tooth17">
                                    <span class="tooth_num">17</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_top">
                                  <input type="checkbox" id="gums17">
                                  <label for="gums17"><span class="blind">gums 17</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth type_implant tooth_expression">
                                  <input type="checkbox" id="tooth16">
                                  <label for="tooth16">
                                    <span class="tooth_state">Ext.</span>
                                    <span class="tooth_num">16</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_top">
                                  <input type="checkbox" id="gums16">
                                  <label for="gums16"><span class="blind">gums 16</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth15">
                                  <label for="tooth15">
                                    <span class="tooth_num">15</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_top">
                                  <input type="checkbox" id="gums15">
                                  <label for="gums15"><span class="blind">gums 15</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth14">
                                  <label for="tooth14">
                                    <span class="tooth_num">14</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_top">
                                  <input type="checkbox" id="gums14">
                                  <label for="gums14"><span class="blind">gums 14</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth13">
                                  <label for="tooth13">
                                    <span class="tooth_num">13</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_top">
                                  <input type="checkbox" id="gums13">
                                  <label for="gums13"><span class="blind">gums 13</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth12">
                                  <label for="tooth12">
                                    <span class="tooth_num">12</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_top">
                                  <input type="checkbox" id="gums12">
                                  <label for="gums12"><span class="blind">gums 12</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth11">
                                  <label for="tooth11">
                                    <span class="tooth_num">11</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_top">
                                  <input type="checkbox" id="gums11">
                                  <label for="gums11"><span class="blind">gums 11</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth21">
                                  <label for="tooth21">
                                    <span class="tooth_num">21</span>
                                  </label>
                                </span>
                                <span class="gums gums_right_top">
                                  <input type="checkbox" id="gums21">
                                  <label for="gums21"><span class="blind">gums 21</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth22">
                                  <label for="tooth22">
                                    <span class="tooth_num">22</span>
                                  </label>
                                </span>
                                <span class="gums gums_right_top">
                                  <input type="checkbox" id="gums22">
                                  <label for="gums22"><span class="blind">gums 22</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth23">
                                  <label for="tooth23">
                                    <span class="tooth_num">23</span>
                                  </label>
                                </span>
                                <span class="gums gums_right_top">
                                  <input type="checkbox" id="gums23">
                                  <label for="gums23"><span class="blind">gums 23</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth24">
                                  <label for="tooth24">
                                    <span class="tooth_num">24</span>
                                  </label>
                                </span>
                                <span class="gums gums_right_top">
                                  <input type="checkbox" id="gums24">
                                  <label for="gums24"><span class="blind">gums 24</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth25">
                                  <label for="tooth25">
                                    <span class="tooth_num">25</span>
                                  </label>
                                </span>
                                <span class="gums gums_right_top">
                                  <input type="checkbox" id="gums25">
                                  <label for="gums25"><span class="blind">gums 25</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth" data-tooltips="">
                                  <input type="checkbox" id="tooth26">
                                  <label for="tooth26">
                                    <span class="tooth_num">26</span>
                                  </label>
                                  <span class="tooltips">
                                    <span>#26 과거 진료 내역</span>
                                    <ul>
                                      <li>[2021-09-05] 즉일충전처치</li>
                                      <li>[2021-08-27] 파노라마</li>
                                    </ul>
                                  </span>
                                </span>
                                <span class="gums gums_right_top">
                                  <input type="checkbox" id="gums26">
                                  <label for="gums26"><span class="blind">gums 26</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth">
                                  <input type="checkbox" id="tooth27">
                                  <label for="tooth27">
                                    <span class="tooth_num">27</span>
                                  </label>
                                </span>
                                <span class="gums gums_right_top">
                                  <input type="checkbox" id="gums27">
                                  <label for="gums27"><span class="blind">gums 27</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth">
                                  <input type="checkbox" id="tooth28">
                                  <label for="tooth28">
                                    <span class="tooth_num">28</span>
                                  </label>
                                </span>
                                <span class="gums gums_right_top">
                                  <input type="checkbox" id="gums28">
                                  <label for="gums28"><span class="blind">gums 28</span></label>
                                </span>
                              </li>
                            </ul>
                            <ul class="tooth_list" data-toothchild="">
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth55">
                                  <label for="tooth55">
                                    <span class="tooth_num">55</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth54">
                                  <label for="tooth54">
                                    <span class="tooth_num">54</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth53">
                                  <label for="tooth53">
                                    <span class="tooth_num">53</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth52">
                                  <label for="tooth52">
                                    <span class="tooth_num">52</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth51">
                                  <label for="tooth51">
                                    <span class="tooth_num">51</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth61">
                                  <label for="tooth61">
                                    <span class="tooth_num">61</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth62">
                                  <label for="tooth62">
                                    <span class="tooth_num">62</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth63">
                                  <label for="tooth63">
                                    <span class="tooth_num">63</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth64">
                                  <label for="tooth64">
                                    <span class="tooth_num">64</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth65">
                                  <label for="tooth65">
                                    <span class="tooth_num">65</span>
                                  </label>
                                </span>
                              </li>
                            </ul>
                            <ul class="tooth_list tooth_list_bottom" data-toothchild="">
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth85">
                                  <label for="tooth85">
                                    <span class="tooth_num">85</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth84">
                                  <label for="tooth84">
                                    <span class="tooth_num">84</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth83">
                                  <label for="tooth83">
                                    <span class="tooth_num">83</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth82">
                                  <label for="tooth82">
                                    <span class="tooth_num">82</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth81">
                                  <label for="tooth81">
                                    <span class="tooth_num">81</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth71">
                                  <label for="tooth71">
                                    <span class="tooth_num">71</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth72">
                                  <label for="tooth72">
                                    <span class="tooth_num">72</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth73">
                                  <label for="tooth73">
                                    <span class="tooth_num">73</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth74">
                                  <label for="tooth74">
                                    <span class="tooth_num">74</span>
                                  </label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth75">
                                  <label for="tooth75">
                                    <span class="tooth_num">75</span>
                                  </label>
                                </span>
                              </li>
                            </ul>
                            <ul class="tooth_list tooth_list_bottom" data-toothall="">
                              <li>
                                <span class="tooth type_implant tooth_expression">
                                  <input type="checkbox" id="tooth48">
                                  <label for="tooth48">
                                    <span class="tooth_state">Ext.</span>
                                    <span class="tooth_num">48</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_bottom">
                                  <input type="checkbox" id="gums48">
                                  <label for="gums48"><span class="blind">gums 48</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth type_pontic tooth_expression">
                                  <input type="checkbox" id="tooth47">
                                  <label for="tooth47">
                                    <span class="tooth_state">Endo</span>
                                    <span class="tooth_num">47</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_bottom">
                                  <input type="checkbox" id="gums47">
                                  <label for="gums47"><span class="blind">gums 47</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_expression">
                                  <input type="checkbox" id="tooth46">
                                  <label for="tooth46">
                                    <span class="tooth_state">Fill</span>
                                    <span class="tooth_num">46</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_bottom">
                                  <input type="checkbox" id="gums46">
                                  <label for="gums46"><span class="blind">gums 46</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth45">
                                  <label for="tooth45">
                                    <span class="tooth_num">45</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_bottom">
                                  <input type="checkbox" id="gums45">
                                  <label for="gums45"><span class="blind">gums 45</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth44">
                                  <label for="tooth44">
                                    <span class="tooth_num">44</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_bottom">
                                  <input type="checkbox" id="gums44">
                                  <label for="gums44"><span class="blind">gums 44</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth43">
                                  <label for="tooth43">
                                    <span class="tooth_num">43</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_bottom">
                                  <input type="checkbox" id="gums43">
                                  <label for="gums43"><span class="blind">gums 43</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth42">
                                  <label for="tooth42">
                                    <span class="tooth_num">42</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_bottom">
                                  <input type="checkbox" id="gums42">
                                  <label for="gums42"><span class="blind">gums 42</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth41">
                                  <label for="tooth41">
                                    <span class="tooth_num">41</span>
                                  </label>
                                </span>
                                <span class="gums gums_left_bottom">
                                  <input type="checkbox" id="gums41">
                                  <label for="gums41"><span class="blind">gums 41</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth31">
                                  <label for="tooth31">
                                    <span class="tooth_num">31</span>
                                  </label>
                                </span>
                                <span class="gums gums_right_bottom">
                                  <input type="checkbox" id="gums31">
                                  <label for="gums31"><span class="blind">gums 31</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth32">
                                  <label for="tooth32">
                                    <span class="tooth_num">32</span>
                                  </label>
                                </span>
                                <span class="gums gums_right_bottom">
                                  <input type="checkbox" id="gums32">
                                  <label for="gums32"><span class="blind">gums 32</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_front">
                                  <input type="checkbox" id="tooth33">
                                  <label for="tooth33">
                                    <span class="tooth_num">33</span>
                                  </label>
                                </span>
                                <span class="gums gums_right_bottom">
                                  <input type="checkbox" id="gums33">
                                  <label for="gums33"><span class="blind">gums 33</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth34">
                                  <label for="tooth34">
                                    <span class="tooth_num">34</span>
                                  </label>
                                </span>
                                <span class="gums gums_right_bottom">
                                  <input type="checkbox" id="gums34">
                                  <label for="gums34"><span class="blind">gums 34</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth tooth_fang">
                                  <input type="checkbox" id="tooth35">
                                  <label for="tooth35">
                                    <span class="tooth_num">35</span>
                                  </label>
                                </span>
                                <span class="gums gums_right_bottom">
                                  <input type="checkbox" id="gums35">
                                  <label for="gums35"><span class="blind">gums 35</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth">
                                  <input type="checkbox" id="tooth36">
                                  <label for="tooth36">
                                    <span class="tooth_num">36</span>
                                  </label>
                                </span>
                                <span class="gums gums_right_bottom">
                                  <input type="checkbox" id="gums36">
                                  <label for="gums36"><span class="blind">gums 36</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth">
                                  <input type="checkbox" id="tooth37">
                                  <label for="tooth37">
                                    <span class="tooth_num">37</span>
                                  </label>
                                </span>
                                <span class="gums gums_right_bottom">
                                  <input type="checkbox" id="gums37">
                                  <label for="gums37"><span class="blind">gums 37</span></label>
                                </span>
                              </li>
                              <li>
                                <span class="tooth">
                                  <input type="checkbox" id="tooth38">
                                  <label for="tooth38">
                                    <span class="tooth_num">38</span>
                                  </label>
                                </span>
                                <span class="gums gums_right_bottom">
                                  <input type="checkbox" id="gums38">
                                  <label for="gums38"><span class="blind">gums 38</span></label>
                                </span>
                              </li>
                            </ul>
                            <ul class="btn_list">
                              <li>
                                <button type="button" class="btn_item" data-selecttop="">상악</button>
                              </li>
                              <li>
                                <button type="button" class="btn_item" data-selectall="">전체선택</button>
                              </li>
                              <li>
                                <button type="button" class="btn_item" data-selectbottom="">하악</button>
                              </li>
                            </ul>
                            <ul class="btn_list btn_list_right">
                              <li>
                                <button type="button" class="btn_item" data-selecttop-child="">유치상악</button>
                              </li>
                              <li>
                                <button type="button" class="btn_item" data-selectall-child="">전체선택</button>
                              </li>
                              <li>
                                <button type="button" class="btn_item" data-selectbottom-child="">유치하악</button>
                              </li>
                            </ul>
                            <div class="btn_sub_interdental">
                              <div class="btn_wrap">
                                <button type="button" class="btn_new"><span class="blind">New</span></button>
                                <button type="button" class="btn_clear"><span class="blind">Clear</span></button>
                                <button type="button" class="btn_back"><span class="blind">Back</span></button>
                              </div>
                            </div>
                          </div>
                          <div class="tooth_button">
                            <div class="btn_wrap" data-expression="">
                              <button type="button" class="btn_implant">IMPL</button>
                              <button type="button" class="btn_pontic">P</button>
                            </div>
                            <button type="button" class="btn_setting" data-popup="cc_setting"><span class="blind">환경</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--[D] Editor 영역-->
                  <div class="editor_wrap">
                    <img src="../img/next_popup/@temp_texteditor.png" alt="">
                  </div>
                  <!--// [D] Editor 영역-->
                  <p class="note">※ 상단 목록에서 왼쪽 클릭 시 선택항목만 입력되며, 오른쪽 클릭 시 입력된 내용에 추가되어 내용이 기록됩니다.</p>
                </div>
              </div>
              <div class="popup_bottom">
                <span class="chkbox">
                  <input type="checkbox" id="nextButton">
                  <label for="nextButton">다음 진료 버튼 배경색 반영</label>
                </span>
                <span class="chkbox">
                  <input type="checkbox" checked id="autoInput">
                  <label for="autoInput">새 Next 작성시 현재 탭 치식 자동 입력</label>
                </span>
                <button class="btn">취소</button>
                <button class="btn primary">확인</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
    <!-- // [D] CONTENTS -->

    @@include('./include/script.html')

    <!-- Caseview  -->
    <script src="../js/libs/vendor.min.js"></script>
    <style>
      .case_review {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: auto;
        padding: 8px;
        z-index: 600;
        background: #000;
        color: #fff;
        opacity: 0.7;
        filter: alpha(opacity=70);
      }

      .case_review a {
        display: block;
        padding: 4px 0;
        font-size: 12px;
        color: #fff;
      }

      .case_review a:hover {
        color: #fff4a6;
      }
    </style>
    <div class="case_review">
      <a href="#none" onclick="$('html').attr('theme', $('html').attr('theme') === 'light' ? 'dark' : 'light')">Dark/Light theme</a>
    </div>
  </div>
</body>

</html>
