@@include('./include/head.html',{"title": "환자 사진 보기 : NAVER CLOVA EMR", "list_title": "[팝업] 환자 사진 보기 : 전자차트"})

<body data-pagestatus="new : 2022.03.02">
  <div class="wrap">
    <!-- [D] CONTENTS -->
    <main id="content">

      <div class="layer show dimmed">

        <div class="popup_wrap">
          <div class="popup" id="select_photo_popup" style="display: block;">
            <div class="popup_innerwrap">
              <div class="popup_head">
                <strong class="tit">환자 사진 보기</strong>
                <button class="popup_close_btn"><span class="blind">팝업 닫기</span></button>
              </div>
              <div class="popup_cont">
                <div class="popup_inner" data-simplebar>
                  <div class="tit_group">
                    <strong class="title" size="16" weight="bold">첨부할 환자 사진을 선택하세요.</strong>
                    <span class="chkbox">
                      <input type="checkbox" id="generalPhoto" checked>
                      <label for="generalPhoto">일반사진</label>
                    </span>
                    <span class="chkbox">
                      <input type="checkbox" id="xray" checked>
                      <label for="xray">X-ray</label>
                    </span>
                    <span class="chkbox">
                      <input type="checkbox" id="scannedImage">
                      <label for="scannedImage">스캔 이미지</label>
                    </span>
                    <button type="button" class="btn">이미지 파일 추가하기</button>
                  </div>
                  <div class="photos_box">
                    <ul class="list">
                      <li class="item is_selected">
                        <span class="date">2021-01-23</span>
                        <img src="../img/select_photo_popup/@temp_photo_view.png" alt="">
                      </li>
                      <li class="item">
                        <span class="date">2021-01-23</span>
                        <img src="../img/select_photo_popup/@temp_photo_view2.png" alt="">
                      </li>
                      <li class="item">
                        <span class="date">2021-01-23</span>
                        <img src="../img/select_photo_popup/@temp_photo_view3.png" alt="">
                      </li>
                      <li class="item">
                        <span class="date">2021-01-23</span>
                        <img src="../img/select_photo_popup/@temp_photo_view4.png" alt="">
                      </li>
                      <li class="item">
                        <span class="date">2021-01-23</span>
                        <img src="../img/select_photo_popup/@temp_photo_view5.png" alt="">
                      </li>
                      <li class="item">
                        <span class="date">2021-01-23</span>
                        <img src="../img/select_photo_popup/@temp_photo_view6.png" alt="">
                      </li>
                      <li class="item">
                        <span class="date">2021-01-23</span>
                        <img src="../img/select_photo_popup/@temp_photo_view7.png" alt="">
                      </li>
                      <li class="item">
                        <span class="date">2021-01-23</span>
                        <img src="../img/select_photo_popup/@temp_photo_view8.png" alt="">
                      </li>
                      <li class="item">
                        <span class="date">2021-01-23</span>
                        <img src="../img/select_photo_popup/@temp_photo_view9.png" alt="">
                      </li>
                      <li class="item">
                        <span class="date">2021-01-23</span>
                        <img src="../img/select_photo_popup/@temp_photo_view10.png" alt="">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="popup_bottom">
                <button class="btn btn_delete">선택 삭제</button>
                <button class="btn">취소</button>
                <button class="btn primary">확인</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
    <!-- // [D] CONTENTS -->

    @@include('./include/script.html')

    <!-- Caseview  -->
    <script src="../js/libs/vendor.min.js"></script>
    <style>
      .case_review {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: auto;
        padding: 8px;
        z-index: 600;
        background: #000;
        color: #fff;
        opacity: 0.7;
        filter: alpha(opacity=70);
      }

      .case_review a {
        display: block;
        padding: 4px 0;
        font-size: 12px;
        color: #fff;
      }

      .case_review a:hover {
        color: #fff4a6;
      }
    </style>
    <div class="case_review">
      <a href="#none" onclick="$('html').attr('theme', $('html').attr('theme') === 'light' ? 'dark' : 'light')">Dark/Light theme</a>
    </div>
  </div>
</body>

</html>
