@@include('./include/head.html',{"title": "EPT 검사결과 입력 : NAVER CLOVA EMR", "list_title": "[팝업] EPT 검사결과 입력 : 전자차트"})

<body data-pagestatus="new : 2022.03.02">
  <div class="wrap">
    <!-- [D] CONTENTS -->
    <main id="content">

      <div class="layer show dimmed">

        <div class="popup_wrap">
          <div class="popup" id="ept_popup" style="display: block;">
            <div class="popup_innerwrap">
              <div class="popup_head">
                <strong class="tit">EPT 검사결과 입력</strong>
                <button class="popup_close_btn"><span class="blind">팝업 닫기</span></button>
              </div>
              <div class="popup_cont">
                <div class="popup_inner" data-simplebar>
                  <div class="tit_group">
                    <strong class="title" size="16" weight="bold">EPT 검사를 시행한 치아를 선택하세요.</strong>
                  </div>
                  <div class="content">
                    <div class="tooth_content" data-toothselect="">
                      <ul class="tooth_list" data-toothall="">
                        <li>
                          <span class="tooth">
                            <input type="checkbox" id="tooth18">
                            <label for="tooth18">
                              <span class="tooth_num">18</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth">
                            <input type="checkbox" id="tooth17">
                            <label for="tooth17">
                              <span class="tooth_num">17</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth type_implant tooth_expression">
                            <input type="checkbox" id="tooth16">
                            <label for="tooth16">
                              <span class="tooth_state">Ext.</span>
                              <span class="tooth_num">16</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth15">
                            <label for="tooth15">
                              <span class="tooth_num">15</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth14">
                            <label for="tooth14">
                              <span class="tooth_num">14</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth13">
                            <label for="tooth13">
                              <span class="tooth_num">13</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth12" checked>
                            <label for="tooth12">
                              <span class="tooth_num">12</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth11" checked>
                            <label for="tooth11">
                              <span class="tooth_num">11</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth21" checked>
                            <label for="tooth21">
                              <span class="tooth_num">21</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth22" checked>
                            <label for="tooth22">
                              <span class="tooth_num">22</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth23">
                            <label for="tooth23">
                              <span class="tooth_num">23</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth24">
                            <label for="tooth24">
                              <span class="tooth_num">24</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth25">
                            <label for="tooth25">
                              <span class="tooth_num">25</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth" data-tooltips="">
                            <input type="checkbox" id="tooth26">
                            <label for="tooth26">
                              <span class="tooth_num">26</span>
                            </label>
                            <span class="tooltips" style="display: none; inset: 275px auto auto 834px;">
                              <span>#26 과거 진료 내역</span>
                              <ul>
                                <li>[2021-09-05] 즉일충전처치</li>
                                <li>[2021-08-27] 파노라마</li>
                              </ul>
                            </span>
                          </span>
                        </li>
                        <li>
                          <span class="tooth">
                            <input type="checkbox" id="tooth27">
                            <label for="tooth27">
                              <span class="tooth_num">27</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth">
                            <input type="checkbox" id="tooth28">
                            <label for="tooth28">
                              <span class="tooth_num">28</span>
                            </label>
                          </span>
                        </li>
                      </ul>
                      <ul class="tooth_list" data-toothchild="">
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth55">
                            <label for="tooth55">
                              <span class="tooth_num">55</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth54">
                            <label for="tooth54">
                              <span class="tooth_num">54</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth53">
                            <label for="tooth53">
                              <span class="tooth_num">53</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth52">
                            <label for="tooth52">
                              <span class="tooth_num">52</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth51">
                            <label for="tooth51">
                              <span class="tooth_num">51</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth61">
                            <label for="tooth61">
                              <span class="tooth_num">61</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth62">
                            <label for="tooth62">
                              <span class="tooth_num">62</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth63">
                            <label for="tooth63">
                              <span class="tooth_num">63</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth64">
                            <label for="tooth64">
                              <span class="tooth_num">64</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth65">
                            <label for="tooth65">
                              <span class="tooth_num">65</span>
                            </label>
                          </span>
                        </li>
                      </ul>
                      <ul class="tooth_list tooth_list_bottom" data-toothchild="">
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth85">
                            <label for="tooth85">
                              <span class="tooth_num">85</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth84">
                            <label for="tooth84">
                              <span class="tooth_num">84</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth83">
                            <label for="tooth83">
                              <span class="tooth_num">83</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth82">
                            <label for="tooth82">
                              <span class="tooth_num">82</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth81">
                            <label for="tooth81">
                              <span class="tooth_num">81</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth71">
                            <label for="tooth71">
                              <span class="tooth_num">71</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth72">
                            <label for="tooth72">
                              <span class="tooth_num">72</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth73">
                            <label for="tooth73">
                              <span class="tooth_num">73</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth74">
                            <label for="tooth74">
                              <span class="tooth_num">74</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth75">
                            <label for="tooth75">
                              <span class="tooth_num">75</span>
                            </label>
                          </span>
                        </li>
                      </ul>
                      <ul class="tooth_list tooth_list_bottom" data-toothall="">
                        <li>
                          <span class="tooth type_implant tooth_expression">
                            <input type="checkbox" id="tooth48">
                            <label for="tooth48">
                              <span class="tooth_state">Ext.</span>
                              <span class="tooth_num">48</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth type_pontic tooth_expression">
                            <input type="checkbox" id="tooth47">
                            <label for="tooth47">
                              <span class="tooth_state">Endo</span>
                              <span class="tooth_num">47</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_expression">
                            <input type="checkbox" id="tooth46">
                            <label for="tooth46">
                              <span class="tooth_state">Fill</span>
                              <span class="tooth_num">46</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth45" checked>
                            <label for="tooth45">
                              <span class="tooth_num">45</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth44">
                            <label for="tooth44">
                              <span class="tooth_num">44</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth43">
                            <label for="tooth43">
                              <span class="tooth_num">43</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth42">
                            <label for="tooth42">
                              <span class="tooth_num">42</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth41">
                            <label for="tooth41">
                              <span class="tooth_num">41</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth31">
                            <label for="tooth31">
                              <span class="tooth_num">31</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth32">
                            <label for="tooth32">
                              <span class="tooth_num">32</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_front">
                            <input type="checkbox" id="tooth33">
                            <label for="tooth33">
                              <span class="tooth_num">33</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth34">
                            <label for="tooth34">
                              <span class="tooth_num">34</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth tooth_fang">
                            <input type="checkbox" id="tooth35">
                            <label for="tooth35">
                              <span class="tooth_num">35</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth">
                            <input type="checkbox" id="tooth36">
                            <label for="tooth36">
                              <span class="tooth_num">36</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth">
                            <input type="checkbox" id="tooth37">
                            <label for="tooth37">
                              <span class="tooth_num">37</span>
                            </label>
                          </span>
                        </li>
                        <li>
                          <span class="tooth">
                            <input type="checkbox" id="tooth38">
                            <label for="tooth38">
                              <span class="tooth_num">38</span>
                            </label>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="test_results_area">
                    <ul class="list">
                      <li class="item">
                        <div class="item_tit">
                          <span class="title">#12번 치아</span>
                          <button type="button" class="btn_delete">
                            <span class="blind">삭제</span>
                          </button>
                        </div>
                        <div class="item_cont">
                          <span class="radio btn_positive" data-inpother>
                            <input type="radio" id="positive12" name="evaluate12">
                            <label for="positive12">양성(+)</label>
                          </span>
                          <span class="radio btn_voice">
                            <input type="radio" id="voice12" name="evaluate12">
                            <label for="voice12">음성(-)</label>
                          </span>
                          <div class="form_group">
                            <div class="form_title">
                              <span class="form_txt">양성반응 수치</span>
                            </div>
                            <div class="form_cont">
                              <div class="select" data-inpother>
                                <button type="button" class="select_btn">선택</button>
                                <div class="select_opt">
                                  <ul data-simplebar>
                                    <li><button type="button" class="option" value="1">1</button></li>
                                    <li><button type="button" class="option" value="2">2</button></li>
                                    <li><button type="button" class="option" value="3">3</button></li>
                                    <li><button type="button" class="option" value="4">4</button></li>
                                    <li><button type="button" class="option" value="5">5</button></li>
                                    <li><button type="button" class="option" value="6">6</button></li>
                                    <li><button type="button" class="option" value="7">7</button></li>
                                    <li><button type="button" class="option" value="8">8</button></li>
                                    <li><button type="button" class="option" value="9">9</button></li>
                                    <li><button type="button" class="option" value="10">10</button></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="item_tit">
                          <span class="title">#11번 치아</span>
                          <button type="button" class="btn_delete">
                            <span class="blind">삭제</span>
                          </button>
                        </div>
                        <div class="item_cont">
                          <span class="radio btn_positive" data-inpother>
                            <input type="radio" id="positive11" name="evaluate11">
                            <label for="positive11">양성(+)</label>
                          </span>
                          <span class="radio btn_voice">
                            <input type="radio" id="voice11" name="evaluate11" checked>
                            <label for="voice11">음성(-)</label>
                          </span>
                          <div class="form_group">
                            <div class="form_title">
                              <span class="form_txt">양성반응 수치</span>
                            </div>
                            <div class="form_cont">
                              <div class="select" data-inpother>
                                <button type="button" class="select_btn" disabled>선택</button>
                                <div class="select_opt">
                                  <ul data-simplebar>
                                    <li><button type="button" class="option" value="1">1</button></li>
                                    <li><button type="button" class="option" value="2">2</button></li>
                                    <li><button type="button" class="option" value="3">3</button></li>
                                    <li><button type="button" class="option" value="4">4</button></li>
                                    <li><button type="button" class="option" value="5">5</button></li>
                                    <li><button type="button" class="option" value="6">6</button></li>
                                    <li><button type="button" class="option" value="7">7</button></li>
                                    <li><button type="button" class="option" value="8">8</button></li>
                                    <li><button type="button" class="option" value="9">9</button></li>
                                    <li><button type="button" class="option" value="10">10</button></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="item_tit">
                          <span class="title">#21번 치아</span>
                          <button type="button" class="btn_delete">
                            <span class="blind">삭제</span>
                          </button>
                        </div>
                        <div class="item_cont">
                          <span class="radio btn_positive" data-inpother>
                            <input type="radio" id="positive21" name="evaluate21" checked>
                            <label for="positive21">양성(+)</label>
                          </span>
                          <span class="radio btn_voice">
                            <input type="radio" id="voice21" name="evaluate21">
                            <label for="voice21">음성(-)</label>
                          </span>
                          <div class="form_group">
                            <div class="form_title">
                              <span class="form_txt">양성반응 수치</span>
                            </div>
                            <div class="form_cont">
                              <div class="select" data-inpother>
                                <button type="button" class="select_btn">선택</button>
                                <div class="select_opt">
                                  <ul data-simplebar>
                                    <li><button type="button" class="option" value="1">1</button></li>
                                    <li><button type="button" class="option" value="2">2</button></li>
                                    <li><button type="button" class="option" value="3">3</button></li>
                                    <li><button type="button" class="option" value="4">4</button></li>
                                    <li><button type="button" class="option" value="5">5</button></li>
                                    <li><button type="button" class="option" value="6">6</button></li>
                                    <li><button type="button" class="option" value="7">7</button></li>
                                    <li><button type="button" class="option" value="8">8</button></li>
                                    <li><button type="button" class="option" value="9">9</button></li>
                                    <li><button type="button" class="option" value="10">10</button></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="item_tit">
                          <span class="title">#22번 치아</span>
                          <button type="button" class="btn_delete">
                            <span class="blind">삭제</span>
                          </button>
                        </div>
                        <div class="item_cont">
                          <span class="radio btn_positive" data-inpother>
                            <input type="radio" id="positive22" name="evaluate22">
                            <label for="positive22">양성(+)</label>
                          </span>
                          <span class="radio btn_voice">
                            <input type="radio" id="voice22" name="evaluate22">
                            <label for="voice22">음성(-)</label>
                          </span>
                          <div class="form_group">
                            <div class="form_title">
                              <span class="form_txt">양성반응 수치</span>
                            </div>
                            <div class="form_cont">
                              <div class="select" data-inpother>
                                <button type="button" class="select_btn">선택</button>
                                <div class="select_opt">
                                  <ul data-simplebar>
                                    <li><button type="button" class="option" value="1">1</button></li>
                                    <li><button type="button" class="option" value="2">2</button></li>
                                    <li><button type="button" class="option" value="3">3</button></li>
                                    <li><button type="button" class="option" value="4">4</button></li>
                                    <li><button type="button" class="option" value="5">5</button></li>
                                    <li><button type="button" class="option" value="6">6</button></li>
                                    <li><button type="button" class="option" value="7">7</button></li>
                                    <li><button type="button" class="option" value="8">8</button></li>
                                    <li><button type="button" class="option" value="9">9</button></li>
                                    <li><button type="button" class="option" value="10">10</button></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="item_tit">
                          <span class="title">#45번 치아</span>
                          <button type="button" class="btn_delete">
                            <span class="blind">삭제</span>
                          </button>
                        </div>
                        <div class="item_cont">
                          <span class="radio btn_positive" data-inpother>
                            <input type="radio" id="positive45" name="evaluate45">
                            <label for="positive45">양성(+)</label>
                          </span>
                          <span class="radio btn_voice">
                            <input type="radio" id="voice45" name="evaluate45">
                            <label for="voice45">음성(-)</label>
                          </span>
                          <div class="form_group">
                            <div class="form_title">
                              <span class="form_txt">양성반응 수치</span>
                            </div>
                            <div class="form_cont">
                              <div class="select" data-inpother>
                                <button type="button" class="select_btn">선택</button>
                                <div class="select_opt">
                                  <ul data-simplebar>
                                    <li><button type="button" class="option" value="1">1</button></li>
                                    <li><button type="button" class="option" value="2">2</button></li>
                                    <li><button type="button" class="option" value="3">3</button></li>
                                    <li><button type="button" class="option" value="4">4</button></li>
                                    <li><button type="button" class="option" value="5">5</button></li>
                                    <li><button type="button" class="option" value="6">6</button></li>
                                    <li><button type="button" class="option" value="7">7</button></li>
                                    <li><button type="button" class="option" value="8">8</button></li>
                                    <li><button type="button" class="option" value="9">9</button></li>
                                    <li><button type="button" class="option" value="10">10</button></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="popup_bottom">
                <button class="btn btn_delete">전체 삭제</button>
                <button class="btn">취소</button>
                <button class="btn primary">확인</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
    <!-- // [D] CONTENTS -->

    @@include('./include/script.html')

    <!-- Caseview  -->
    <script src="../js/libs/vendor.min.js"></script>
    <style>
      .case_review {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: auto;
        padding: 8px;
        z-index: 600;
        background: #000;
        color: #fff;
        opacity: 0.7;
        filter: alpha(opacity=70);
      }

      .case_review a {
        display: block;
        padding: 4px 0;
        font-size: 12px;
        color: #fff;
      }

      .case_review a:hover {
        color: #fff4a6;
      }
    </style>
    <div class="case_review">
      <a href="#none" onclick="$('html').attr('theme', $('html').attr('theme') === 'light' ? 'dark' : 'light')">Dark/Light theme</a>
    </div>
  </div>
</body>

</html>
