@@include('./include/head.html',{"title": "상담 : NAVER CLOVA EMR", "list_title": "메인 : 상담"})

<body data-pagestatus="new : 2022.03.14">
  @@include('./include/skipnavigation.html')

  <div class="wrap" data-simplebar>
    <!--[D] HEADER -->
    @@include('./include/header.html',{"type": "01", "tab": "04"})
    <!--//[D] HEADER -->

    <!-- [D] CONTENTS -->
    <main class="consulting_layout" data-simplebar>
      <div class="col">
        <div class="panel">
          <div class="tab_group">
            <div class="tab_lst_box">
              <ul class="tab_lst">
                <li class="tab_item is_active">
                  <a href="#consultationVideo" class="tab_btn">상담 영상</a>
                </li>
                <li class="tab_item">
                  <a href="#beforeAfter" class="tab_btn">치료 전후 사진</a>
                </li>
                <li class="tab_item">
                  <a href="#patientPhoto" class="tab_btn">환자 사진</a>
                </li>
              </ul>
            </div>
            <div class="tabs">
              <div class="tab is_active" id="consultationVideo" data-extra-content="videoPlayBox">
                <button class="btn" type="button">상담 영상 관리</button>
                <div class="content_box" data-simplebar>
                  <ul class="categorized_list">
                    <li class="is_expanded">
                      <a href="#none">치료</a>
                      <ul>
                        <li><a href="#none"><i class="icon icon_play"></i>크라운</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>레진</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>치아 홈 메우기</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>근관치료</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>임플란트</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>임플란트 with GBR</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>상악동 거상술 Crestal</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>부분틀니</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>전체틀니</a></li>
                      </ul>
                    </li>
                    <li class="is_expanded">
                      <a href="#none">주의사항</a>
                      <ul>
                        <li><a href="#none"><i class="icon icon_play"></i>발치 후 주의사항</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>임플란트 수술 후 주의사항</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>근관치료 주의사항</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>소아환자 주의사항</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>턱관절질환 주의사항</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>틀니사용 주의사항</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>교정치료 주의사항</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>교정환자 잇솔질 방법</a></li>
                      </ul>
                    </li>
                    <li class="is_expanded">
                      <a href="#none">교육</a>
                      <ul>
                        <li><a href="#none"><i class="icon icon_play"></i>잇솔질 교육(대한치주과학회)</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>임플란트 수술 후 주의사항</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>근관치료 주의사항</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>소아환자 주의사항</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>턱관절질환 주의사항</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>틀니사용 주의사항</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>교정치료 주의사항</a></li>
                        <li><a href="#none"><i class="icon icon_play"></i>교정환자 잇솔질 방법</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tab" id="beforeAfter" data-extra-content="beforeAfterDetail">
                <button class="btn" type="button">치료 전후 사진 관리</button>
                <div class="content_box" data-simplebar>
                  <ul class="before_after_list" data-detail="beforeAfterView">
                    <li>
                      <div class="photo_before_after">
                        <span class="name">라미네이트</span>
                        <div class="img_box" data-tooltips>
                          <div class="img" data-txt="영구치가 2개 없으신 상태로 치아 사이 공간 많음">
                            <img src="../img/consulting/@tmp_before.png" alt="">
                          </div>
                          <div class="img" data-txt="#21 잇몸이 아쉽긴 하나, 부분교정 + 라미네이트 + 브릿지로 마무리">
                            <img src="../img/consulting/@tmp_after.png" alt="">
                          </div>
                          <span class="tooltips">
                            <p><b>부분교정 + 라미네이트 + 브릿지</b></p>
                            <p>[Before] 영구치가 2개 없으신 상태로 치아 사이 공간 많음<br>[After] #21 잇몸이 아쉽긴 하나, 부분교정 + 라미네이트 + 브릿지로 마무리</p>
                          </span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="photo_before_after">
                        <span class="name">미백</span>
                        <div class="img_box" data-tooltips>
                          <div class="img" data-txt="영구치가 2개 없으신 상태로 치아 사이 공간 많음">
                            <img src="../img/consulting/@tmp_before1.png" alt="">
                          </div>
                          <div class="img" data-txt="#21 잇몸이 아쉽긴 하나, 부분교정 + 라미네이트 + 브릿지로 마무리">
                            <img src="../img/consulting/@tmp_after1.png" alt="">
                          </div>
                          <span class="tooltips">
                            <p><b>부분교정 + 라미네이트 + 브릿지</b></p>
                            <p>[Before] 영구치가 2개 없으신 상태로 치아 사이 공간 많음<br>[After] #21 잇몸이 아쉽긴 하나, 부분교정 + 라미네이트 + 브릿지로 마무리</p>
                          </span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="photo_before_after selected">
                        <span class="name">부분교정 + 라미네이트 + 브릿지</span>
                        <div class="img_box" data-tooltips>
                          <div class="img" data-txt="영구치가 2개 없으신 상태로 치아 사이 공간 많음">
                            <img src="../img/consulting/@tmp_before2.png" alt="">
                          </div>
                          <div class="img" data-txt="#21 잇몸이 아쉽긴 하나, 부분교정 + 라미네이트 + 브릿지로 마무리">
                            <img src="../img/consulting/@tmp_after2.png" alt="">
                          </div>
                          <span class="tooltips">
                            <p><b>부분교정 + 라미네이트 + 브릿지</b></p>
                            <p>[Before] 영구치가 2개 없으신 상태로 치아 사이 공간 많음<br>[After] #21 잇몸이 아쉽긴 하나, 부분교정 + 라미네이트 + 브릿지로 마무리</p>
                          </span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="photo_before_after">
                        <span class="name">브릿지 + 임플란트</span>
                        <div class="img_box" data-tooltips>
                          <div class="img" data-txt="영구치가 2개 없으신 상태로 치아 사이 공간 많음">
                            <img src="../img/consulting/@tmp_photo1.png" alt="">
                          </div>
                          <span class="tooltips">
                            <p><b>부분교정 + 라미네이트 + 브릿지</b></p>
                            <p>[Before] 영구치가 2개 없으신 상태로 치아 사이 공간 많음<br>[After] #21 잇몸이 아쉽긴 하나, 부분교정 + 라미네이트 + 브릿지로 마무리</p>
                          </span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="photo_before_after">
                        <span class="name">인레이</span>
                        <div class="img_box" data-tooltips>
                          <div class="img" data-txt="영구치가 2개 없으신 상태로 치아 사이 공간 많음">
                            <img src="../img/consulting/@tmp_before1.png" alt="">
                          </div>
                          <div class="img" data-txt="#21 잇몸이 아쉽긴 하나, 부분교정 + 라미네이트 + 브릿지로 마무리">
                            <img src="../img/consulting/@tmp_after1.png" alt="">
                          </div>
                          <span class="tooltips">
                            <p><b>부분교정 + 라미네이트 + 브릿지</b></p>
                            <p>[Before] 영구치가 2개 없으신 상태로 치아 사이 공간 많음<br>[After] #21 잇몸이 아쉽긴 하나, 부분교정 + 라미네이트 + 브릿지로 마무리</p>
                          </span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="photo_before_after">
                        <span class="name">발치 교정</span>
                        <div class="img_box" data-tooltips>
                          <div class="img" data-txt="영구치가 2개 없으신 상태로 치아 사이 공간 많음">
                            <img src="../img/consulting/@tmp_before.png" alt="">
                          </div>
                          <div class="img" data-txt="#21 잇몸이 아쉽긴 하나, 부분교정 + 라미네이트 + 브릿지로 마무리">
                            <img src="../img/consulting/@tmp_after.png" alt="">
                          </div>
                          <span class="tooltips">
                            <p><b>부분교정 + 라미네이트 + 브릿지</b></p>
                            <p>[Before] 영구치가 2개 없으신 상태로 치아 사이 공간 많음<br>[After] #21 잇몸이 아쉽긴 하나, 부분교정 + 라미네이트 + 브릿지로 마무리</p>
                          </span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tab" id="patientPhoto" data-extra-content="patientPhotoDetail">
                <div class="dropdown">
                  <button class="btn dropdown_btn" type="button"><i class="icon_add"></i>사진 추가</button>
                  <div class="dropdown_option">
                    <ul>
                      <li>
                        <ul>
                          <li>
                            <a href="#none">구강카메라(웹캠) 촬영</a>
                          </li>
                          <li>
                            <a href="#none">이미지 파일 추가하기</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="content_box" data-simplebar>
                  <ul class="photo_list" data-slider="patientPhotoSlide">
                    <li>
                      <div class="photo_box selected" data-info="김한국 (남 6Y 9M)" data-time="2021-12-09 17:26:23 (2y 4m bef.)" data-size="4000x1831px">
                        <span class="time">2021-01-23</span>
                        <img src="../img/consulting/@tmp_photo1.png" alt="">
                      </div>
                    </li>
                    <li>
                      <div class="photo_box" data-info="김한국 (남 6Y 9M)" data-time="2021-12-09 17:26:23 (2y 4m bef.)" data-size="4000x1831px">
                        <span class="time">2021-01-23</span>
                        <img src="../img/consulting/@tmp_photo2.png" alt="">
                      </div>
                    </li>
                    <li>
                      <div class="photo_box" data-info="김한국 (남 6Y 9M)" data-time="2021-12-09 17:26:23 (2y 4m bef.)" data-size="4000x1831px">
                        <span class="time">2021-01-23</span>
                        <img src="../img/consulting/@tmp_photo3.png" alt="">
                      </div>
                    </li>
                    <li>
                      <div class="photo_box" data-info="김한국 (남 6Y 9M)" data-time="2021-12-09 17:26:23 (2y 4m bef.)" data-size="4000x1831px">
                        <span class="time">2021-01-23</span>
                        <img src="../img/consulting/@tmp_photo1.png" alt="">
                      </div>
                    </li>
                    <li>
                      <div class="photo_box" data-info="김한국 (남 6Y 9M)" data-time="2021-12-09 17:26:23 (2y 4m bef.)" data-size="4000x1831px">
                        <span class="time">2021-01-23</span>
                        <img src="../img/consulting/@tmp_photo2.png" alt="">
                      </div>
                    </li>
                    <li>
                      <div class="photo_box" data-info="김한국 (남 6Y 9M)" data-time="2021-12-09 17:26:23 (2y 4m bef.)" data-size="4000x1831px">
                        <span class="time">2021-01-23</span>
                        <img src="../img/consulting/@tmp_photo3.png" alt="">
                      </div>
                    </li>
                    <li>
                      <div class="photo_box" data-info="김한국 (남 6Y 9M)" data-time="2021-12-09 17:26:23 (2y 4m bef.)" data-size="4000x1831px">
                        <span class="time">2021-01-23</span>
                        <img src="../img/consulting/@tmp_photo1.png" alt="">
                      </div>
                    </li>
                    <li>
                      <div class="photo_box" data-info="김한국 (남 6Y 9M)" data-time="2021-12-09 17:26:23 (2y 4m bef.)" data-size="4000x1831px">
                        <span class="time">2021-01-23</span>
                        <img src="../img/consulting/@tmp_photo2.png" alt="">
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="panel">
          <div class="extra_tab_content">
            <div class="tab is_active" id="videoPlayBox">
              <div class="video_box">
                <video controls>
                  <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
            <div class="tab" id="beforeAfterDetail">
              <div class="toolbox">
                <ul>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_zoom_in"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_zoom_out"></i></button>
                  </li>
                </ul>
                <span class="divide"></span>
                <ul>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_hand"></i></button>
                  </li>
                </ul>
                <span class="divide"></span>
                <ul>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="colorbox" style="background: #EE6950;"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_pencil"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_figure"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_drawing_thin"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_drawing_thick"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_measure"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_impl_down"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_impl_up"></i></button>
                  </li>
                </ul>
                <span class="divide"></span>
                <ul>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_rotation_left"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_rotation_right"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_flip_horizontal"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_flip_vertical"></i></button>
                  </li>
                </ul>
                <span class="divide"></span>
                <ul>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_undo"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_redo"></i></button>
                  </li>
                </ul>
              </div>
              <div id="beforeAfterView">
                <div class="view_detail">
                  <strong class="name">부분교정 + 라미네이트 + 브릿지</strong>
                  <p class="detail_txt">영구치가 2개 없으신 상태로 치아 사이 공간 많음</p>
                  <div class="img">
                    <img src="../img/consulting/@tmp_before.png" alt="">
                  </div>
                </div>
                <div class="view_detail">
                  <strong class="name">부분교정 + 라미네이트 + 브릿지</strong>
                  <p class="detail_txt">#21 잇몸이 아쉽긴 하나, 부분교정 + 라미네이트 + 브릿지로 마무리</p>
                  <div class="img">
                    <img src="../img/consulting/@tmp_after.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab" id="patientPhotoDetail">
              <div class="toolbox">
                <ul>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_zoom_in"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_zoom_out"></i></button>
                  </li>
                </ul>
                <span class="divide"></span>
                <ul>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_hand"></i></button>
                  </li>
                </ul>
                <span class="divide"></span>
                <ul>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="colorbox" style="background: #EE6950;"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_pencil"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_figure"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_drawing_thin"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_drawing_thick"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_measure"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_impl_down"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_impl_up"></i></button>
                  </li>
                </ul>
                <span class="divide"></span>
                <ul>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_rotation_left"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_rotation_right"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_flip_horizontal"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_flip_vertical"></i></button>
                  </li>
                </ul>
                <span class="divide"></span>
                <ul>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_undo"></i></button>
                  </li>
                  <li>
                    <button class="toolbox_btn" type="button"><i class="icon_redo"></i></button>
                  </li>
                </ul>
              </div>
              <div class="photo_slide" id="patientPhotoSlide">
                <div class="photo_box">
                  <div class="info">
                    <span class="name">김한국 (남 6Y 9M)</span>
                    <span class="time">2021-12-09 17:26:23 (2y 4m bef.)</span>
                    <span class="size">4000x1831px</span>
                  </div>
                  <img src="../img/consulting/@tmp_photo1.png" alt="">
                </div>
                <button type="button" class="slde_nav_btn prev_btn"></button>
                <button type="button" class="slde_nav_btn next_btn"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- // [D] CONTENTS -->
  </div>

  @@include('./include/script.html')

  <!-- Caseview  -->
  <script src="../js/libs/vendor.min.js"></script>
  <style>
    .case_review {
      position: fixed;
      bottom: 10px;
      right: 20px;
      width: auto;
      padding: 8px;
      z-index: 600;
      background: #000;
      color: #fff;
      opacity: 0.7;
      filter: alpha(opacity=70);
    }

    .case_review a {
      display: block;
      padding: 4px 0;
      font-size: 12px;
      color: #fff;
    }

    .case_review a:hover {
      color: #fff4a6;
    }
  </style>
  <div class="case_review">
    <a href="#none" onclick="$('html').attr('theme', $('html').attr('theme') === 'light' ? 'dark' : 'light')">Dark/Light theme</a>
  </div>
</body>

</html>
