.main_nav {
    z-index: 9;
    display: flex;
    justify-content: space-between;
    height: 88px;
    background: var(--g0);
    box-shadow: 0px 2px 2px rgba(25, 29, 43, 0.08);

    @media (max-width: 768px) {
        display: none;
    }

    [theme="dark"] & {
        box-shadow: 0px 2px 2px rgba(25, 29, 43, 0.08);
        background: var(--g700);
    }

    .patient_nav_box {
        display: flex;
        padding: 16px;
    }

    &>.dropdown_option {
        right: auto;
        left: 10px;
        margin-top: 0;

        &::before {
            left: 24px;
            right: auto;
        }
    }
}