.notice_txt {
  display: block;

  .icon_info {
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    background: url('../img/components/notice_txt/icon_info.svg') no-repeat;
    margin-right: 2px;

    [theme="dark"] & {
      background: url('../img/components/notice_txt/icon_info_dark.svg') no-repeat;
    }
  }

  font-size: 12px;
  line-height: 14px;
  color: var(--g700);

  [theme="dark"] & {
    color: var(--g200);
  }
}
