#endodontic_treatment_popup {
  width: 900px;
  max-height: 820px;
  height: 100%;

  .popup_cont {
    height: calc(100% - 106px);
    padding: 0;

    .popup_inner {
      position: relative;
      height: 100%;
      padding: 0 32px;
      box-sizing: border-box;
    }

    .simplebar-content {
      padding-top: 21px !important;
      padding-bottom: 24px !important;
    }

    .select {

      .simplebar-content {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
      }
    }
  }

  .popup_bottom {

    .btn {
      vertical-align: middle;
      padding: 7px 21px;
      line-height: 16px;

      &.btn_delete {
        float: left;
        margin: 0;
      }
    }

    .chkbox {
      vertical-align: middle;
      margin-right: 16px;

      label {
        font-size: 14px;
      }
    }
  }

  .tit_group {

    .title {
      margin-right: auto;
    }

    .btn {
      margin-left: 20px;
      padding: 7px 21px;
      line-height: 16px;
    }

    .chkbox {

      &+.chkbox {
        margin-left: 16px;
      }
    }
  }

  .content {
    margin-top: 9px;
    padding: 15px 23px;

    &+.content {
      margin-top: 16px;
    }

    .line {
      display: flex;
      width: 100%;
      align-items: center;

      &+.line {
        margin-top: 12px;
      }

      .title {
        font-size: 13px;
      }

      .btn {
        height: 28px;
        margin-left: 8px;
        margin-right: auto;
        padding: 6px 9px;
        font-size: 12px;
        font-weight: normal;
        line-height: 14px;
      }

      .table {
        width: 100%;

        table {
          height: auto;
          margin-bottom: 4px;
          border-top: 1px solid;
          border-bottom: 1px solid;
          border-color: var(--g300);

          [theme="dark"] & {
            border-color: var(--g600);
          }
        }

        .chkbox {
          width: auto;

          label {

            &:before {
              margin-right: 0;
            }
          }
        }

        th,
        td {
          &:first-child {
            padding-left: 16px;
          }
        }

        th {

          .arrow {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 5px;
            margin-left: 4px;
            margin-top: -2px;
            background: url(../img/arch_wire_popup/icon_dropdown.svg) no-repeat center/auto;

            [theme="dark"] & {
              background: url(../img/arch_wire_popup/icon_dropdown_dark.svg) no-repeat center/auto;
            }
          }
        }
      }

      .root_canal_list {
        margin-left: 24px;

        .btn {
          margin-left: 0;
        }
      }

      .chkbox {
        width: 132px;

        &+.chkbox {
          margin-left: 32px;
        }

        input:checked {

          &+label {
            font-weight: bold;
            color: var(--p600);

            [theme="dark"] & {
              color: var(--p400);
            }
          }
        }
      }
    }
  }

  .root_canal_list {
    display: flex;
    gap: 8px;

    .btn {
      min-width: 50px;
      font-weight: normal;

      &.is_active {
        font-weight: bold;
        color: var(--p600);
        border-color: var(--p500);

        [theme="dark"] & {
          color: var(--p400);
        }
      }
    }
  }

  .form_group {
    font-size: 0;

    .form_title {
      display: inline-block;

      .form_txt {
        font-size: 12px;
        line-height: 14px;
      }
    }

    .form_cont {
      display: inline-block;
      margin-left: 12px;

      .select_btn {
        width: 120px;
      }
    }
  }

  .key_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    padding: 12px;
    background: rgba(25, 29, 43, 0.85);
    box-shadow: 0px 4px 8px rgba(25, 29, 43, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 10;

    [theme="dark"] & {
      background: rgba(98, 99, 104, 0.85);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    }

    .note {
      margin-left: 4px;
      margin-bottom: 8px;
      font-size: 11px;
      line-height: 15px;
      color: var(--g0);
    }

    .key_list {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;

      li {
        width: 56px;
        padding: 0;

        &.no_agitation {
          flex: 1;

          .btn {
            font-size: 16px;
          }
        }

        &~li {
          border-top: 0;
        }

        .btn {
          width: 100%;
          height: 40px;
          font-size: 18px;
          text-align: center;
          padding: 8px 11px;
          background: var(--g700);
          border-radius: 4px;
          color: var(--g0);
          font-weight: normal;
          box-sizing: border-box;
          border: 0;

          &.btn_confirm,
          &.btn_cancel {
            margin-top: 4px;
            height: 32px;
            font-size: 13px;
            line-height: 15px;
            font-weight: bold;
          }

          &.btn_confirm {
            background: var(--p500);
          }

          &.btn_cancel {
            width: 116px;
          }
        }

        &.input {
          width: 116px;
          margin-top: 4px;
        }
      }
    }
  }

  .keyboard {
    display: none;
  }
}
