#outpatient_usage_popup {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 462px;
  margin: 0;
  max-height: 602px;
  height: calc(100vh - 80px);
  border: 1px solid;
  border-color: var(--g400);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 6px 20px rgba(16, 25, 59, 0.12);

  .popup_cont {
    padding: 23px;

    h2.title {
      margin-bottom: 13px;

      span {
        font-weight: normal;

        [theme="light"] & {
          color: var(--g900);
        }
      }
    }

    .tit_group {
      margin-bottom: 8px;

      .title {
        font-size: 13px;
        line-height: 16px;
      }

      .btn {
        min-width: 48px;
        padding: 6px 11px;
        font-size: 12px;
        line-height: 14px;
        font-weight: normal;
      }

      &~.tit_group {
        margin-top: 20px;
      }
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 11px 15px;
    margin-top: 0;

    .btn {
      font-weight: normal;

      &.is_active {
        font-weight: bold;
        color: var(--p600);
        border-color: var(--p500);

        [theme="dark"] & {
          color: var(--p400);
        }
      }
    }
  }

  .instruction_list {
    overflow: hidden;
    height: 112px;
    border: 1px solid;
    border-color: var(--g300);
    border-radius: 6px;
    box-sizing: border-box;

    [theme="dark"] & {
      border-color: var(--g600);
    }

    .simplebar-track {
      z-index: 9;
    }

    .list {
      height: 100%;
    }

    .item {
      padding: 9px 9px;
      font-size: 12px;
      line-height: 14px;
      color: var(--g900);

      [theme="dark"] & {
        color: var(--g0);
      }

      &:nth-child(even) {
        background: var(--g50);

        [theme="dark"] & {
          background: var(--g800);
        }
      }
    }
  }

  .form {
    display: flex;
    gap: 6px;

    .input {
      flex: 1;
    }

    .btn {
      min-width: 96px;
      padding: 5px 10px;
    }
  }
}
