#photo {

  &>div.simplebar-wrapper>div.simplebar-mask>div>div>div {
    padding: 0 !important;
  }

  .popup {
    position: static;
  transform: none;
  width: 100%;
  min-width: 1600px;
  border-radius: 0;
    display: block;
  }

  .simplebar-vertical {
    z-index: 3;
  }

  .popup_cont {
    padding: 0;
  }

  .main_nav {
    height: 104px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: none;
  }

  .patient_nav_box {
    padding: 24px 40px 24px 32px;
  }

  .split_screen {

    .input_field {
      font-size: 0;

      .select_btn {
        width: 216px;
      }
    }

    label {
      margin-right: 12px;
      font-size: 14px;
      color: var(--g800);

      [theme="dark"] & {
        color: var(--g100);
      }
    }
  }

  .drawing_tools_box {
    display: flex;
    column-gap: 16px;
    margin-left: auto;
    margin-right: 32px;
    align-items: center;

    .dropdown {
      &.open {
        & > .edit_tool_btn {
          background: var(--p200);

          [theme="dark"] & {
            background: rgba(99, 126, 221, 0.3);
          }
        }

        .icon_figure_normal {
          background: url(../img/photo/icon_figure_selected.svg) no-repeat;
        }
      }
    }

    .dropdown_option {
      height: 48px;
      left: -8px;
      margin-top: 6px;
      right: auto;
      padding: 7px;
      box-shadow: 0px 6px 12px rgba(25, 29, 43, 0.16);

      [theme="dark"] & {
        border-color: var(--g500);
        background: var(--g600);
      }

      &:before {
        content: none;
      }

      li {
        padding: 0;
      }
    }

    ul {
      display: flex;
      gap: 8px;
    }

    .edit_tool_btn {
      display: block;
      width: 32px;
      height: 32px;
      border: none;
      background: none;
      border-radius: 4px;

      i {
        display: block;
        width: 32px;
        height: 32px;
      }
    }

    .colorbox {
      width: 18px !important;
      height: 18px !important;
      margin-left: 6px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 1px;

      [theme="dark"] & {
        border-color: rgba(255, 255, 255, 0.1);;
      }
    }

    .divide {
      display: block;
      width: 1px;
      height: 24px;
      background: var(--g300);

      [theme="dark"] & {
        background: var(--g600);
      }
    }

    .icon_zoom_in {
      background: url(../img/photo/icon_zoom-in.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_zoom-in_dark.svg) no-repeat;
      }
    }

    .icon_zoom_out {
      background: url(../img/photo/icon_zoom-out.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_zoom-out_dark.svg) no-repeat;
      }
    }

    .icon_hand {
      background: url(../img/photo/icon_hand.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_hand_dark.svg) no-repeat;
      }
    }

    .icon_pencil {
      background: url(../img/photo/icon_pencil.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_pencil_dark.svg) no-repeat;
      }
    }

    .icon_figure_normal {
      background: url(../img/photo/icon_figure_normal.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_figure_normal_dark.svg) no-repeat;
      }
    }

    .icon_drawing_thin {
      background: url(../img/photo/icon_drawing_thin.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_drawing_thin_dark.svg) no-repeat;
      }
    }

    .icon_drawing_thick {
      background: url(../img/photo/icon_drawing_thick.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_drawing_thick_dark.svg) no-repeat;
      }
    }

    .icon_measure {
      background: url(../img/photo/icon_measure.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_measure_dark.svg) no-repeat;
      }
    }

    .icon_impl_down {
      background: url(../img/photo/icon_impl_down.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_impl_down_dark.svg) no-repeat;
      }
    }

    .icon_impl_up {
      background: url(../img/photo/icon_impl_up.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_impl_up_dark.svg) no-repeat;
      }
    }

    .icon_rotation_left {
      background: url(../img/photo/icon_rotation_left.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_rotation_left_dark.svg) no-repeat;
      }
    }

    .icon_rotation_right {
      background: url(../img/photo/icon_rotation_right.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_rotation_right_dark.svg) no-repeat;
      }
    }

    .icon_flip_horizontal {
      background: url(../img/photo/icon_flip_horizontal.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_flip_horizontal_dark.svg) no-repeat;
      }
    }

    .icon_flip_vertical {
      background: url(../img/photo/icon_flip_vertical.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_flip_vertical_dark.svg) no-repeat;
      }
    }

    .icon_undo_normal {
      background: url(../img/photo/icon_undo_normal.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_undo_normal_dark.svg) no-repeat;
      }
    }

    .icon_redo_normal {
      background: url(../img/photo/icon_redo_normal.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_redo_normal_dark.svg) no-repeat;
      }
    }

    .icon_figure_line {
      background: url(../img/photo/icon_figure_line.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_figure_line_dark.svg) no-repeat;
      }
    }

    .icon_figure_arrow {
      background: url(../img/photo/icon_figure_arrow.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_figure_arrow_dark.svg) no-repeat;
      }
    }

    .icon_figures_square {
      background: url(../img/photo/icon_figures_square.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_figures_square_dark.svg) no-repeat;
      }
    }

    .icon_figure_circle {
      background: url(../img/photo/icon_figure_circle.svg) no-repeat;

      [theme="dark"] & {
        background: url(../img/photo/icon_figure_circle_dark.svg) no-repeat;
      }
    }
  }

  .dropdown_option > ul > li ~ li {
    border-top: 0;
  }

  .main_cont {
    display: flex;
    padding: 0 32px 24px;

    .dropdown {
      width: 100%;
    }

    .dropdown_option {

      a {
        padding: 8px 15px;
        font-size: 14px;
        line-height: 16px;
      }

      ul {
        padding: 4px 0;

        & > li {
          padding: 0;
        }
      }
    }
  }

  .photo_control_box {
    display: block;
    position: relative;
    min-width: 328px;
    max-width: 640px;
    padding-right: 8px;
    border-radius: 4px;
    z-index: 4;
    user-select: none;

    .template_box {
      li.is_active {
        background: var(--p100);

        [theme="dark"] & {
          background: rgba(99, 126, 221, 0.15);
        }
      }
    }
  }

  .content_box {
    height: 100%;
    margin-top: 0;
    border-radius: 4px;

    &[data-simplebar] {
      max-height: none;
    }
  }

  .template_box {

    .content_box {
      height: 68px;
    }

    li {
      padding: 6px 8px;
      font-size: 14px;

      a {
        display: block;
        line-height: 20px;
        color: var(--g900);

        [theme="dark"] & {
          color: var(--g0);
        }
      }

      &:nth-child(even) {
        background: var(--g50);

        [theme="dark"] & {
          background: var(--g800);
        }
      }
    }
  }

  .add_btn {
    width: 100%;
    margin-top: 16px;
    font-size: 13px;
    line-height: 32px;
    color: var(--g800);
    font-weight: bold;
    border: 1px solid var(--g500);
    border-radius: 4px;

    [theme="dark"] & {
      color: var(--g100);
    }

    .icon_add {
      display: inline-block;
      vertical-align: middle;
      margin: 0 6px 2px 0;
      width: 12px;
      height: 12px;
      background: url(../img/photo/icon_add.svg) no-repeat;
    }
  }

  .time_filter_box {
    margin-top: 16px;

    .content_box {
      height: 152px;
      border-radius: 6px;
    }
  }

  .preview_photo_box {
    overflow: hidden;
    margin-top: 16px;

    .content_box {
      height: 502px;
      padding:0 15px;
      box-sizing: border-box;

      .simplebar-content {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
      }
    }

    .simplebar-vertical {
      z-index: 2;
    }

    .photo_list {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    li {
      overflow: hidden;
      display: block;
      border-radius: 4px;
      background: #000;
      width: 144px;
      height: 96px;
      border: 0;

      &.cloned {
        z-index: 4;
      }

      .photo_box {
        position: relative;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 69.79%, rgba(0, 0, 0, 0.5) 100%);
          transform: matrix(1, 0, 0, -1, 0, 0);
        }

        .img_photo {
          display: block;
        }

        .time {
          position: absolute;
          top: 8px;
          left: 8px;
          font-size: 12px;
          line-height: 14px;
          font-weight: normal;
          color: var(--g0);
          z-index: 3;
        }
      }


    }
  }

  .photo_viewer {
    min-width: 864px;
    flex: 1;
    margin-left: 30px;

    .content_box {
      padding: 19px;
    }

    .mode {
      display: none;
      height: 100%;

      .panel {
        height: 100%;
        border-radius: 6px;
        border: 1px solid var(--g300);
        box-shadow: none;

        [theme="dark"] & {
          border-color: var(--g600);
        }
      }

      &.is_active {
        display: block;
      }

      .tabs, .tab {
        height: 100%;
      }

      .info_photo {
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 12px;
        line-height: 18px;
        color: var(--g0);
        z-index: 3;

        span {
          display: inline-block;
          margin-bottom: 2px;
          font-weight: bold;
          color: var(--g0);
        }
      }

      .img_photo {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #000;
        z-index: 3;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 69.79%, rgba(0, 0, 0, 0.5) 100%);
          transform: matrix(1, 0, 0, -1, 0, 0);
          content: '';
        }
      }

      .txt_sub_photo {
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 12px;
        color: var(--g600);
        font-weight: bold;

        [theme="dark"] & {
          color: var(--g300);
        }
      }

      li:not(.tab_item) {
        padding: 4px;
        box-sizing: border-box;
      }

      .photo_box {
        overflow: hidden;
        position: relative;
        height: 100%;
        border-radius: 6px;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 1.5px dashed var(--g400);
          border-radius: 6px;
          z-index: 2;
          box-sizing: border-box;
        }

        .patient_box {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          z-index: 3;

          .name {
            color: var(--g900);
            font-size: 16px;
            line-height: 18px;
            font-weight: bold;

            [theme="dark"] & {
              color: var(--g0);
            }
          }

          .date {
            margin-top: 12px;
            font-size: 14px;
            color: var(--g800);

            [theme="dark"] & {
              color: var(--g100);
            }

            .icon_date {
              vertical-align: top;
              display: inline-block;
              width: 16px;
              height: 16px;
              margin-left: 4px;
              background: url(../img/photo/icon_calendar.svg) no-repeat;

              [theme="dark"] & {
                background: url(../img/photo/icon_calendar_dark.svg) no-repeat;
              }
            }
          }

          .group_btn {
            display: flex;
            margin-top: 24px;
            gap: 8px;

            .btn {
              background: var(--g0);
              min-width: 43px;
              padding: 6px 9px;
              font-size: 12px;
              line-height: 14px;
              font-weight: normal;
              white-space: nowrap;

              [theme="dark"] & {
                background: var(--g900);
              }
            }
          }
        }
      }

      .patient {

        .photo_box {
          background: var(--g200);

          [theme="dark"] & {
            background: var(--g900);
          }

          &:after {
            border: 1.5px solid var(--g400);
          }
        }
      }

      &[data-layoutmode] {

        ul {
          display: flex;
          flex-wrap: wrap;
          height: 100%;
        }
      }

      &[data-layoutmode="1"] {

        .tabs {
          height: calc(100% - 31px);
          box-sizing: border-box;
          padding: 24px;
        }

        .tab_group {
          height: 100%;
          margin-top: -1px;
        }

        .tab_lst {
          flex-wrap: nowrap;

          &_box {
            overflow: hidden;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
          }
        }

        .tab_item {

          &.is_active {
            .tab_btn {
              outline: none;
              border-top-left-radius: 6px;
              border-top-right-radius: 6px;
              border-right: 1px solid var(--g300);
              border-left: 1px solid var(--g300);
              border-bottom: 1px solid transparent;

              [theme="dark"] & {
                border-right-color: var(--g600);
                border-left-color: var(--g600);
              }
            }

            &:first-child {
              .tab_btn {
                border-left: 0;
              }
            }
          }

          .tab_btn {
            border-top: 1px solid var(--g300);
            line-height: 18px;
            padding: 6px 12px;
            white-space: nowrap;
            font-size: 13px;

            [theme="dark"] & {
              border-top-color: var(--g600);
            }
          }
        }

        .btn_next,
        .btn_prev {
          display: none;
          position: absolute;
          top: 0;
          width: 20px;
          height: 31px;
          padding: 0;
          border: 0;
          background: rgba(243, 244, 247, 0.8);
          border-top: 1px solid var(--g300);
          z-index: 3;

          [theme="dark"] & {
            background: rgba(25, 25, 26, 0.8);
            border-top-color: var(--g600);
          }
        }

        .btn_next {
          right: 0;
          border-top-right-radius: 5px;

          .icon_next {
            background: url(../img/photo/icon_next.svg) no-repeat;
          }
        }

        .btn_prev {
          left: 0;
          border-top-left-radius: 5px;

          .icon_prev {
            background: url(../img/photo/icon_next.svg) no-repeat;
            transform: rotate(180deg);
          }
        }

        .icon_next,
        .icon_prev {
          display: inline-block;
          width: 5px;
          height: 8px;
        }
      }

      &[data-layoutmode="2"] {

        li {
          width: 100%;
        }
      }

      &[data-layoutmode="3"],
      &[data-layoutmode="4"],
      &[data-layoutmode="6"] {

        li {
          width: 50%;
        }
      }

      &[data-layoutmode="5"],
      &[data-layoutmode="7"],
      &[data-layoutmode="14"] {

        li {
          width: 33.3333%;
        }
      }

      &[data-layoutmode="8"],
      &[data-layoutmode="9"] {

        li {
          width: 25%;
        }
      }

      &[data-layoutmode="10"],
      &[data-layoutmode="11"] {

        li {
          width: 20%;
        }

        .info_photo,
        .txt_sub_photo {
          top: 8px;
          left: 8px;
          right: 8px;
        }
      }

      &[data-layoutmode="12"],
      &[data-layoutmode="13"] {

        li {
          width: 16.66666%;
        }

        .info_photo,
        .txt_sub_photo {
          top: 8px;
          left: 8px;
          right: 8px;
        }
      }

      &[data-layoutmode="15"] {

        li {
          width: 14.286%;
        }

        .patient {
          width: 42.858%;
        }

        .info_photo,
        .txt_sub_photo {
          top: 8px;
          left: 8px;
          right: 8px;
        }
      }
    }
  }
}
