#tooth_information_popup {
  width: 944px;
  max-height: 680px;
  height: 100%;

  .popup_cont {
    height: calc(100% - 106px);
    padding: 0;

    .popup_inner {
      height: 100%;
      padding: 0 32px;
      box-sizing: border-box;
    }

    .simplebar-content {
      padding-top: 23px !important;
      padding-bottom: 23px !important;
    }

    .content {
      margin-top: 8px;
      padding: 15px;
    }

    .data_filter {
      padding: 0;
      margin: 24px 0 0;

      .title {
        margin-right: 20px;
        font-size: 13px;
        line-height: 15px;
      }

      .btn_deselect_all {
        min-width: 95px;
        margin-left: auto;
      }
    }
  }

  .popup_bottom {

    .btn {
      padding: 7px 21px;
      line-height: 16px;

      &.btn_delete {
        float: left;
        margin: 0;
      }
    }
  }

  .tooth_filling_area {
    margin-top: 12px;

    .list {
      display: flex;
      height: 100%;
      flex-wrap: wrap;
      gap: 16px;
    }

    .item {
      width: 208px;
      height: 248px;
      border: 1px solid;
      border-color: var(--g300);
      border-radius: 6px;
      box-sizing: border-box;

      [theme="dark"] & {
        border-color: var(--g600);
      }
    }

    .item_tit {
      position: relative;
      padding: 12px 11px 11px;
      font-size: 12px;
      line-height: 16px;
      color: var(--g800);
      border-bottom: 1px solid;
      border-bottom-color: var(--g300);
      box-sizing: border-box;

      [theme="dark"] & {
        border-color: var(--g600);
      }

      .title {
        color: var(--g800);

        [theme="dark"] & {
          color: var(--g100);
        }
      }

      .btn_delete {
        position: absolute;
        top: 12px;
        right:12px;
        width: 16px;
        height: 16px;
        background: url(../img/tooth_infomation_popup/icon_delete.svg) no-repeat center/auto;

        [theme="dark"] & {
          background: url(../img/tooth_infomation_popup/icon_delete_dark.svg) no-repeat center/auto;
        }
      }
    }

    .item_cont {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      gap: 8px;
      height: calc(100% - 40px);
      padding: 12px 11px;
      box-sizing: border-box;

      .btn_charge {
        width: 56px;
        height: 56px;
        font-size: 12px;
        line-height: 18px;
        font-weight: normal;
        color: var(--g800);
        border: 1px solid;
        border-color: var(--g500);
        border-radius: 4px;

        [theme="dark"] & {
          color: var(--g100);
          border-color: var(--g400);
        }

        &.is_active {
          font-weight: bold;
          color: var(--p600);
          border-color: var(--p500);

          [theme="dark"] & {
            color: var(--p400);
          }
        }

        &:first-child {
          margin: 0 64px;
        }
      }
    }
  }

  .tooth_select_main {
    justify-content: center;
  }
}
