#viewer_popup {
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  border-radius: 0;

  .file_control_box {
    display: flex;

    .files_nav_box {
      font-size: 0;

      .input {
        width: 400px;
      }

      .btn {
        width: 32px;
        height: 32px;
        margin-left: 6px;
        padding: 0;
      }

      .icon_prev {
        display: block;
        width: 24px;
        height: 24px;
        background: url('../img/viewer_popup/icon_arrow_left.svg') no-repeat;
        margin: auto;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_arrow_left_dark.svg') no-repeat;
        }
      }

      .icon_next {
        display: block;
        width: 24px;
        height: 24px;
        background: url('../img/viewer_popup/icon_arrow_right.svg') no-repeat;
        margin: auto;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_arrow_right_dark.svg') no-repeat;
        }
      }
    }

    .drawing_tools_box {
      display: flex;
      column-gap: 16px;
      margin-left: auto;
      margin-right: 0;
      align-items: center;

      .edit_tool_btn {
        display: block;
        width: 32px;
        height: 32px;
        border: none;
        background: none;
        border-radius: 4px;

        i {
          display: block;
          width: 32px;
          height: 32px;
        }
      }

      .dropdown {
        .dropdown_option {
          height: 48px;
          left: -8px;
          margin-top: 6px;
          right: auto;
          padding: 7px;

          li {
            padding: 0;
            border-top: none;
          }

          &::before {
            display: none;
          }
        }

        &.open {
          &>.edit_tool_btn {
            background: var(--p200);

            [theme="dark"] & {
              background: rgba(#637EDD, .3);
            }
          }

          .icon_figure_normal {
            background: url('../img/viewer_popup/icon_figure_selected.svg') no-repeat;

            [theme="dark"] & {
              background: url('../img/viewer_popup/icon_figure_selected_dark.svg') no-repeat;
            }
          }
        }
      }

      .icon_zoom_in {
        background: url('../img/viewer_popup/icon_zoom-in.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_zoom-in_dark.svg') no-repeat;
        }
      }

      .icon_zoom_out {
        background: url('../img/viewer_popup/icon_zoom-out.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_zoom-out_dark.svg') no-repeat;
        }
      }

      .icon_pencil {
        background: url('../img/viewer_popup/icon_pencil.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_pencil_dark.svg') no-repeat;
        }
      }

      .icon_figure_normal {
        background: url('../img/viewer_popup/icon_figure_normal.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_figure_normal_dark.svg') no-repeat;
        }
      }

      .icon_drawing_thick {
        background: url('../img/viewer_popup/icon_drawing_thick.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_drawing_thick_dark.svg') no-repeat;
        }
      }

      .icon_drawing_thin {
        background: url('../img/viewer_popup/icon_drawing_thin.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_drawing_thin_dark.svg') no-repeat;
        }
      }

      .icon_rotation_left {
        background: url('../img/viewer_popup/icon_rotation_left.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_rotation_left_dark.svg') no-repeat;
        }
      }

      .icon_rotation_right {
        background: url('../img/viewer_popup/icon_rotation_right.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_rotation_right_dark.svg') no-repeat;
        }
      }

      .icon_undo_normal {
        background: url('../img/viewer_popup/icon_undo_normal.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_undo_normal_dark.svg') no-repeat;
        }
      }

      .icon_undo_disabled {
        background: url('../img/viewer_popup/icon_undo_disabled.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_undo_disabled_dark.svg') no-repeat;
        }
      }

      .icon_redo_disabled {
        background: url('../img/viewer_popup/icon_redo_disabled.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_redo_disabled_dark.svg') no-repeat;
        }
      }

      .icon_redo_normal {
        background: url('../img/viewer_popup/icon_redo_normal.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_redo_normal_dark.svg') no-repeat;
        }
      }

      .icon_figure_line {
        background: url('../img/viewer_popup/icon_figure_line.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_figure_line_dark.svg') no-repeat;
        }
      }

      .icon_figure_arrow {
        background: url('../img/viewer_popup/icon_figure_arrow.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_figure_arrow_dark.svg') no-repeat;
        }
      }

      .icon_figures_square {
        background: url('../img/viewer_popup/icon_figures_square.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_figures_square_dark.svg') no-repeat;
        }
      }

      .icon_figure_circle {
        background: url('../img/viewer_popup/icon_figure_circle.svg') no-repeat;

        [theme="dark"] & {
          background: url('../img/viewer_popup/icon_figure_circle_dark.svg') no-repeat;
        }
      }

      .colorbox {
        width: 18px !important;
        height: 18px !important;
        margin-left: 6px;
        border-radius: 1px;
      }

      ul {
        display: flex;
        gap: 8px;
      }

      .divide {
        display: block;
        width: 1px;
        height: 24px;
        background: var(--g300);

        [theme="dark"] & {
          background: var(--g600);
        }
      }
    }
  }

  .popup_cont {
    display: flex;
    flex-direction: column;
    height: calc(100% - 41px);
    box-sizing: border-box;
    padding: 24px 32px;
  }

  .file_viewer {
    position: relative;
    height: calc(100% - 112px);
    margin-top: 24px;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;
    background: #000;
    flex-grow: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      border: none;
    }

    .download_btn {
      position: absolute;
      display: flex;
      bottom: 24px;
      right: 24px;
      width: 48px;
      height: 48px;
      justify-content: center;
      align-items: center;
      background: var(--p500);
      border-radius: 50%;

      .icon_download {
        display: block;
        width: 24px;
        height: 24px;
        background: url('../img/viewer_popup/icon_save.svg') no-repeat;
      }
    }
  }
}
