<div id="secHistory">
  <div class="tab_group">
    <div class="tab_lst_box">
      <ul class="tab_lst">
        <li class="tab_item is_active">
          <a href="#cc_content" class="tab_btn">CC(4)</a>
        </li>
        <li class="tab_item">
          <a href="#diagnosis_content" class="tab_btn">진료(32)</a>
        </li>
        <li class="tab_item">
          <a href="#family_content" class="tab_btn">가족(4)</a>
        </li>
        <li class="tab_item">
          <a href="#introducer_content" class="tab_btn">소개자(4)</a>
        </li>
      </ul>
    </div>
    <div class="tabs" data-simplebar>
      <div class="tab is_active" id="cc_content">
        <table class="tbl_wrap">
          <caption>
            <span class="blind">Chief Complaint</span>
          </caption>
          <colgroup>
            <col style="width:13.03%">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <td>2021-09-10</td>
              <td>
                <button type="button" class="btn_complaint" data-popup="cc_popup">이곳을 더블클릭하여 송창범(305)님의 오늘 - 2021년 9월 10일 금요일 - 의 CC를 추가하세요.</button>
              </td>
            </tr>
            <tr>
              <td>2021-09-08</td>
              <td>
                <p class="text_cc">시간변경 ) 대기) I&D 후 ck, 저번보다 괜찮아 졌는데 약간 불편해요.</p>
              </td>
            </tr>
            <tr>
              <td>2021-08-08</td>
              <td>
                <div class="tooth_area">
                  <div class="tooth_map" data-toothmap>
                    <ul class="tooth_address">
                      <li data-tooth="tooth18">8</li>
                      <li data-tooth="tooth17">7</li>
                      <li data-tooth="tooth16">6</li>
                      <li data-tooth="tooth15">5</li>
                      <li data-tooth="tooth14" class="is_visible">4</li>
                      <li data-tooth="tooth13">3</li>
                      <li data-tooth="tooth12">2</li>
                      <li data-tooth="tooth11">1</li>
                    </ul>
                    <ul class="tooth_address">
                      <li data-tooth="tooth21">1</li>
                      <li data-tooth="tooth22">2</li>
                      <li data-tooth="tooth23">3</li>
                      <li data-tooth="tooth24">4</li>
                      <li data-tooth="tooth25">5</li>
                      <li data-tooth="tooth26">6</li>
                      <li data-tooth="tooth27">7</li>
                      <li data-tooth="tooth28">8</li>
                    </ul>
                    <ul class="tooth_address">
                      <li data-tooth="tooth48">8</li>
                      <li data-tooth="tooth47">7</li>
                      <li data-tooth="tooth46">6</li>
                      <li data-tooth="tooth45">5</li>
                      <li data-tooth="tooth44">4</li>
                      <li data-tooth="tooth43">3</li>
                      <li data-tooth="tooth42">2</li>
                      <li data-tooth="tooth41">1</li>
                    </ul>
                    <ul class="tooth_address">
                      <li data-tooth="tooth31">1</li>
                      <li data-tooth="tooth32">2</li>
                      <li data-tooth="tooth33">3</li>
                      <li data-tooth="tooth34">4</li>
                      <li data-tooth="tooth35">5</li>
                      <li data-tooth="tooth36">6</li>
                      <li data-tooth="tooth37">7</li>
                      <li data-tooth="tooth38">8</li>
                    </ul>
                  </div>
                  <p class="text_cc">오른쪽 위 치아가 불편해요.</p>
                </div>
              </td>
            </tr>
            <tr>
              <td>2021-01-01</td>
              <td>
                <div class="tooth_area">
                  <div class="tooth_map">
                    <ul class="tooth_address">
                      <li>8</li>
                      <li>7</li>
                      <li class="is_visible">6</li>
                      <li>5</li>
                      <li>4</li>
                      <li>3</li>
                      <li>2</li>
                      <li>1</li>
                    </ul>
                    <ul class="tooth_address">
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                      <li>4</li>
                      <li>5</li>
                      <li>6</li>
                      <li>7</li>
                      <li>8</li>
                    </ul>
                    <ul class="tooth_address">
                      <li>8</li>
                      <li>7</li>
                      <li>6</li>
                      <li>5</li>
                      <li>4</li>
                      <li>3</li>
                      <li>2</li>
                      <li>1</li>
                    </ul>
                    <ul class="tooth_address">
                      <li>1</li>
                      <li>2</li>
                      <li>3</li>
                      <li class="is_visible">4</li>
                      <li class="is_visible">5</li>
                      <li>6</li>
                      <li>7</li>
                      <li>8</li>
                    </ul>
                  </div>
                  <p class="text_cc">왼쪽 아래 치아 떼운데 떨어졌고 (떨어진거 가져왔어요) <br>오른쪽 위에 끝에서 두번째 치아가 씹지를 못하겠어요.</p>
                </div>
              </td>
            </tr>
            <tr>
              <td>2020-12-09</td>
              <td>
                <p class="text_cc">I&D 후의 ck, 전보다 좋아졌지만 조금 불편합니다.</p>
              </td>
            </tr>
            <tr>
              <td>2020-12-09</td>
              <td>
                <p class="text_cc">I&D 후의 ck, 전보다 좋아졌지만 조금 불편합니다.</p>
              </td>
            </tr>
            <tr>
              <td>2020-12-09</td>
              <td>
                <p class="text_cc">I&D 후의 ck, 전보다 좋아졌지만 조금 불편합니다.</p>
              </td>
            </tr>
            <tr>
              <td>2020-12-09</td>
              <td>
                <p class="text_cc">I&D 후의 ck, 전보다 좋아졌지만 조금 불편합니다.</p>
              </td>
            </tr>
            <tr>
              <td>2020-12-09</td>
              <td>
                <p class="text_cc">I&D 후의 ck, 전보다 좋아졌지만 조금 불편합니다.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab" id="diagnosis_content">
        <table class="tbl_wrap">
          <caption>
            <span class="blind">최신 날짜순의 환자 진료 내역</span>
          </caption>
          <colgroup>
            <col style="width:12.3%">
            <col style="width:8.65%">
            <col>
            <col style="width:59.77%">
          </colgroup>
          <thead>
            <tr>
              <th scope="col">진료일</th>
              <th scope="col">진료 의사</th>
              <th scope="col">치식</th>
              <th scope="col">진료 내역</th>
            </tr>
          </thead>
          <tbody>
            <tr data-href="#none">
              <td>2021-08-08</td>
              <td>허영재</td>
              <td>
                <div class="tooth_map">
                  <ul class="tooth_address">
                    <li>8</li>
                    <li>7</li>
                    <li>6</li>
                    <li>5</li>
                    <li class="is_visible">4</li>
                    <li>3</li>
                    <li>2</li>
                    <li>1</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>8</li>
                    <li>7</li>
                    <li>6</li>
                    <li>5</li>
                    <li>4</li>
                    <li>3</li>
                    <li>2</li>
                    <li>1</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                  </ul>
                </div>
              </td>
              <td>인레이 셋팅</td>
            </tr>
            <tr data-href="#none">
              <td>2021-08-08</td>
              <td>허영재</td>
              <td>
                <div class="tooth_map">
                  <ul class="tooth_address">
                    <li>8</li>
                    <li>7</li>
                    <li class="is_visible">6</li>
                    <li>5</li>
                    <li>4</li>
                    <li>3</li>
                    <li>2</li>
                    <li>1</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>8</li>
                    <li>7</li>
                    <li>6</li>
                    <li>5</li>
                    <li>4</li>
                    <li>3</li>
                    <li>2</li>
                    <li>1</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li class="is_visible">4</li>
                    <li class="is_visible">5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                  </ul>
                </div>
              </td>
              <td>세라믹 인레이 프렙, 인상채득</td>
            </tr>
            <tr data-href="#none">
              <td>2021-08-08</td>
              <td>허영재</td>
              <td>
                <div class="tooth_map">
                  <ul class="tooth_address">
                    <li>8</li>
                    <li>7</li>
                    <li class="is_visible">6</li>
                    <li>5</li>
                    <li>4</li>
                    <li>3</li>
                    <li>2</li>
                    <li>1</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>8</li>
                    <li>7</li>
                    <li>6</li>
                    <li>5</li>
                    <li>4</li>
                    <li>3</li>
                    <li>2</li>
                    <li>1</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li class="is_visible">4</li>
                    <li class="is_visible">5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                  </ul>
                </div>
              </td>
              <td>충전물제거 간단</td>
            </tr>
            <tr data-href="#none">
              <td>2021-08-08</td>
              <td>허영재</td>
              <td>
                <div class="tooth_map">
                  <ul class="tooth_address">
                    <li>8</li>
                    <li>7</li>
                    <li class="is_visible">6</li>
                    <li>5</li>
                    <li>4</li>
                    <li>3</li>
                    <li>2</li>
                    <li>1</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>8</li>
                    <li>7</li>
                    <li>6</li>
                    <li>5</li>
                    <li>4</li>
                    <li>3</li>
                    <li>2</li>
                    <li>1</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li class="is_visible">4</li>
                    <li class="is_visible">5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                  </ul>
                </div>
              </td>
              <td>세라믹 인레이 프렙, 인상채득</td>
            </tr>
            <tr data-href="#none">
              <td>2021-08-08</td>
              <td>허영재</td>
              <td>
                <div class="tooth_map">
                  <ul class="tooth_address">
                    <li>8</li>
                    <li>7</li>
                    <li class="is_visible">6</li>
                    <li>5</li>
                    <li>4</li>
                    <li>3</li>
                    <li>2</li>
                    <li>1</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>8</li>
                    <li>7</li>
                    <li>6</li>
                    <li>5</li>
                    <li>4</li>
                    <li>3</li>
                    <li>2</li>
                    <li>1</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li class="is_visible">4</li>
                    <li class="is_visible">5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                  </ul>
                </div>
              </td>
              <td>세라믹 인레이 프렙, 인상채득</td>
            </tr>
            <tr data-href="#none">
              <td>2021-08-08</td>
              <td>허영재</td>
              <td>
                <div class="tooth_map">
                  <ul class="tooth_address">
                    <li>8</li>
                    <li>7</li>
                    <li class="is_visible">6</li>
                    <li>5</li>
                    <li>4</li>
                    <li>3</li>
                    <li>2</li>
                    <li>1</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>8</li>
                    <li>7</li>
                    <li>6</li>
                    <li>5</li>
                    <li>4</li>
                    <li>3</li>
                    <li>2</li>
                    <li>1</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li class="is_visible">4</li>
                    <li class="is_visible">5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                  </ul>
                </div>
              </td>
              <td>세라믹 인레이 프렙, 인상채득</td>
            </tr>
            <tr data-href="#none">
              <td>2021-08-08</td>
              <td>허영재</td>
              <td>
                <div class="tooth_map">
                  <ul class="tooth_address">
                    <li>8</li>
                    <li>7</li>
                    <li class="is_visible">6</li>
                    <li>5</li>
                    <li>4</li>
                    <li>3</li>
                    <li>2</li>
                    <li>1</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>8</li>
                    <li>7</li>
                    <li>6</li>
                    <li>5</li>
                    <li>4</li>
                    <li>3</li>
                    <li>2</li>
                    <li>1</li>
                  </ul>
                  <ul class="tooth_address">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li class="is_visible">4</li>
                    <li class="is_visible">5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                  </ul>
                </div>
              </td>
              <td>세라믹 인레이 프렙, 인상채득</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab" id="family_content">
        <div class="tit_group">
          <div class="left_group">
            <strong class="title" size="16" weight="bold">김한국(305)님 가족</strong>
            <div class="payment">
              <dl>
                <dt>미수/선수금</dt>
                <dd>-617,480</dd>
              </dl>
            </div>
          </div>
          <div class="btn_right_group">
            <button type="button" class="btn rounded btn_add">가족 추가</button>
          </div>
        </div>
        <div class="table js_context">
          <table data-simplebar>
            <caption><span class="blind">김한국(305)님 가족</span></caption>
            <colgroup>
              <col style="min-width: 79px">
              <col style="min-width: 81px">
              <col style="min-width: 111px">
              <col style="min-width: 55px">
              <col style="min-width: 72px">
              <col style="min-width: 136px">
              <col style="min-width: 146px">
              <col>
            </colgroup>
            <thead>
              <tr>
                <th scope="col" align="left">차트번호</th>
                <th scope="col" align="left">이름</th>
                <th scope="col" align="left">생년월일</th>
                <th scope="col" align="left">나이</th>
                <th scope="col" align="left">가입자</th>
                <th scope="col" align="left">전화번호</th>
                <th scope="col" align="left">미수금</th>
                <th scope="col" align="left">최종내원일</th>
              </tr>
            </thead>
            <tbody>
              <tr data-contextmenu>
                <td>7</td>
                <td data-contextname>남덴트</td>
                <td>1959-04-29</td>
                <td>62</td>
                <td>남민숙</td>
                <td>010-0000-1234</td>
                <td>53,780</td>
                <td>2021-09-15</td>
              </tr>
              <tr data-contextmenu>
                <td>8</td>
                <td data-contextname>남덴트</td>
                <td>1959-04-29</td>
                <td>62</td>
                <td>남민숙</td>
                <td>010-0000-1234</td>
                <td>0</td>
                <td>2021-09-15</td>
              </tr>
              <tr data-contextmenu>
                <td>8</td>
                <td data-contextname>김덴트C</td>
                <td>1959-04-29</td>
                <td>62</td>
                <td>남민숙</td>
                <td>010-0000-1234</td>
                <td>0</td>
                <td>2021-09-15</td>
              </tr>
              <tr data-contextmenu>
                <td>8</td>
                <td data-contextname>남덴트</td>
                <td>1959-04-29</td>
                <td>62</td>
                <td>남민숙</td>
                <td>010-0000-1234</td>
                <td>563,700</td>
                <td>2021-09-15</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="dropdown context_menu">
            <div class="dropdown_option dropdown_history">
              <ul>
                <li>
                  <ul>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 선택</a>
                    </li>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님을 가족에서 제거</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 인적사항 보기</a>
                    </li>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 전자차트 보기</a>
                    </li>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 외부 X-Ray 실행</a>
                    </li>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 예약 검색</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="tab" id="introducer_content">
        <div class="tab_left js_context treemenu">
          <ul class="menu_list" data-simplebar>
            <li class="is_extend">
              <div class="menu_control">
                <button type="button" class="btn_extend" data-extend></button>
                <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                  <img class="patient_img" src="../img/components/header_utility/patient_old_female.svg" alt="">
                  <strong class="patient"><span data-contextname>김옥자</span>(85)</strong>
                  <div class="tooltips">
                    <strong>김옥자(85)</strong>
                    <ul>
                      <li>생년월일/성별 : 1956-03-03 (男)</li>
                      <li>전화번호 : 010-0000-0000</li>
                      <li>최초내원일 : 2026-07-25</li>
                      <li>최종내원일 : 2021-08-30</li>
                      <li>수납총액 : 2,695,700</li>
                      <li>소개자수 : 4명</li>
                      <li>소개자 수납총액 : 18,169,600</li>
                    </ul>
                  </div>
                </a>
              </div>
              <ul class="menu_list" data-menuextend>
                <li class="is_extend">
                  <div class="menu_control">
                    <button type="button" class="btn_extend" data-extend></button>
                    <a href="#none" class="btn_tab is_active" data-tooltips data-contextmenu>
                      <img class="patient_img" src="../img/components/header_utility/patient_male.svg" alt="">
                      <strong class="patient"><span data-contextname>김한국</span>(305)</strong>
                      <div class="tooltips">
                        <strong>김한국(305)</strong>
                        <ul>
                          <li>생년월일/성별 : 1956-03-03 (男)</li>
                          <li>전화번호 : 010-0000-0000</li>
                          <li>최초내원일 : 2026-07-25</li>
                          <li>최종내원일 : 2021-08-30</li>
                          <li>수납총액 : 2,695,700</li>
                          <li>소개자수 : 4명</li>
                          <li>소개자 수납총액 : 18,169,600</li>
                        </ul>
                      </div>
                    </a>
                  </div>
                  <ul class="menu_list" data-menuextend>
                    <li>
                      <div class="menu_control">
                        <button type="button" class="btn_extend"></button>
                        <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                          <img class="patient_img" src="../img/components/header_utility/patient_female.svg" alt="">
                          <strong class="patient"><span data-contextname>임선민</span>(163)</strong>
                          <div class="tooltips">
                            <strong>임선민(163)</strong>
                            <ul>
                              <li>생년월일/성별 : 1956-03-03 (男)</li>
                              <li>전화번호 : 010-0000-0000</li>
                              <li>최초내원일 : 2026-07-25</li>
                              <li>최종내원일 : 2021-08-30</li>
                              <li>수납총액 : 2,695,700</li>
                              <li>소개자수 : 4명</li>
                              <li>소개자 수납총액 : 18,169,600</li>
                            </ul>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="menu_control">
                        <button type="button" class="btn_extend"></button>
                        <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                          <img class="patient_img" src="../img/components/header_utility/patient_female.svg" alt="">
                          <strong class="patient"><span data-contextname>천즈췌이</span>(164)</strong>
                          <div class="tooltips">
                            <strong>천즈췌이(164)</strong>
                            <ul>
                              <li>생년월일/성별 : 1956-03-03 (男)</li>
                              <li>전화번호 : 010-0000-0000</li>
                              <li>최초내원일 : 2026-07-25</li>
                              <li>최종내원일 : 2021-08-30</li>
                              <li>수납총액 : 2,695,700</li>
                              <li>소개자수 : 4명</li>
                              <li>소개자 수납총액 : 18,169,600</li>
                            </ul>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="menu_control">
                        <button type="button" class="btn_extend"></button>
                        <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                          <img class="patient_img" src="../img/components/header_utility/patient_baby.svg" alt="">
                          <strong class="patient"><span data-contextname>고혜정</span>(163)</strong>
                          <div class="tooltips">
                            <strong>고혜정(163)</strong>
                            <ul>
                              <li>생년월일/성별 : 1956-03-03 (男)</li>
                              <li>전화번호 : 010-0000-0000</li>
                              <li>최초내원일 : 2026-07-25</li>
                              <li>최종내원일 : 2021-08-30</li>
                              <li>수납총액 : 2,695,700</li>
                              <li>소개자수 : 4명</li>
                              <li>소개자 수납총액 : 18,169,600</li>
                            </ul>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li class="is_extend">
                      <div class="menu_control">
                        <button type="button" class="btn_extend" data-extend></button>
                        <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                          <img class="patient_img" src="../img/components/header_utility/patient_female.svg" alt="">
                          <strong class="patient"><span data-contextname>공미경</span>(9084)</strong>
                          <div class="tooltips">
                            <strong>공미경(9084)</strong>
                            <ul>
                              <li>생년월일/성별 : 1956-03-03 (男)</li>
                              <li>전화번호 : 010-0000-0000</li>
                              <li>최초내원일 : 2026-07-25</li>
                              <li>최종내원일 : 2021-08-30</li>
                              <li>수납총액 : 2,695,700</li>
                              <li>소개자수 : 4명</li>
                              <li>소개자 수납총액 : 18,169,600</li>
                            </ul>
                          </div>
                        </a>
                      </div>
                      <ul class="menu_list" data-menuextend>
                        <li>
                          <div class="menu_control">
                            <button type="button" class="btn_extend" data-extend></button>
                            <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                              <img class="patient_img" src="../img/components/header_utility/patient_old_female.svg" alt="">
                              <strong class="patient"><span data-contextname>이영숙</span>(368)</strong>
                              <div class="tooltips">
                                <strong>이영숙(368)</strong>
                                <ul>
                                  <li>생년월일/성별 : 1956-03-03 (男)</li>
                                  <li>전화번호 : 010-0000-0000</li>
                                  <li>최초내원일 : 2026-07-25</li>
                                  <li>최종내원일 : 2021-08-30</li>
                                  <li>수납총액 : 2,695,700</li>
                                  <li>소개자수 : 4명</li>
                                  <li>소개자 수납총액 : 18,169,600</li>
                                </ul>
                              </div>
                            </a>
                          </div>
                          <ul class="menu_list" data-menuextend>
                            <li>
                              <div class="menu_control">
                                <button type="button" class="btn_extend"></button>
                                <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                                  <img class="patient_img" src="../img/components/header_utility/patient_old_female.svg" alt="">
                                  <strong class="patient"><span data-contextname>이영숙</span>(368)</strong>
                                  <div class="tooltips">
                                    <strong>이영숙(368)</strong>
                                    <ul>
                                      <li>생년월일/성별 : 1956-03-03 (男)</li>
                                      <li>전화번호 : 010-0000-0000</li>
                                      <li>최초내원일 : 2026-07-25</li>
                                      <li>최종내원일 : 2021-08-30</li>
                                      <li>수납총액 : 2,695,700</li>
                                      <li>소개자수 : 4명</li>
                                      <li>소개자 수납총액 : 18,169,600</li>
                                    </ul>
                                  </div>
                                </a>
                              </div>
                            </li>
                            <li>
                              <div class="menu_control">
                                <button type="button" class="btn_extend"></button>
                                <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                                  <img class="patient_img" src="../img/components/header_utility/patient_old_male.svg" alt="">
                                  <strong class="patient"><span data-contextname>이길로</span>(539)</strong>
                                  <div class="tooltips">
                                    <strong>이길로(539)</strong>
                                    <ul>
                                      <li>생년월일/성별 : 1956-03-03 (男)</li>
                                      <li>전화번호 : 010-0000-0000</li>
                                      <li>최초내원일 : 2026-07-25</li>
                                      <li>최종내원일 : 2021-08-30</li>
                                      <li>수납총액 : 2,695,700</li>
                                      <li>소개자수 : 4명</li>
                                      <li>소개자 수납총액 : 18,169,600</li>
                                    </ul>
                                  </div>
                                </a>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <div class="menu_control">
                            <button type="button" class="btn_extend"></button>
                            <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                              <img class="patient_img" src="../img/components/header_utility/patient_old_male.svg" alt="">
                              <strong class="patient"><span data-contextname>이길로</span>(539)</strong>
                              <div class="tooltips">
                                <strong>이길로(539)</strong>
                                <ul>
                                  <li>생년월일/성별 : 1956-03-03 (男)</li>
                                  <li>전화번호 : 010-0000-0000</li>
                                  <li>최초내원일 : 2026-07-25</li>
                                  <li>최종내원일 : 2021-08-30</li>
                                  <li>수납총액 : 2,695,700</li>
                                  <li>소개자수 : 4명</li>
                                  <li>소개자 수납총액 : 18,169,600</li>
                                </ul>
                              </div>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <div class="dropdown context_menu">
            <div class="dropdown_option dropdown_history">
              <ul>
                <li>
                  <ul>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 선택</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 인적사항 보기</a>
                    </li>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 전자차트 보기</a>
                    </li>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 외부 X-Ray 실행</a>
                    </li>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 예약 검색</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab_right">
          <div class="tit_group">
            <strong class="title" size="16" weight="bold">김한국(305)님이 소개하신 환자 목록</strong>
            <div class="btn_right_grp">
              <button type="button" class="btn rounded">엑셀저장</button>
            </div>
          </div>
          <div class="table js_context">
            <table data-simplebar>
              <caption><span class="blind">김한국(305)님이 소개하신 환자 목록</span></caption>
              <colgroup>
                <col style="min-width:69px">
                <col style="min-width:67px">
                <col style="min-width:93px">
                <col style="min-width:37px">
                <col style="min-width:auto">
                <col style="min-width:93px">
                <col style="min-width:95px">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col" align="left">차트번호</th>
                  <th scope="col" align="left">이름</th>
                  <th scope="col" align="left">생년월일</th>
                  <th scope="col" align="left">성별</th>
                  <th scope="col" align="left">휴대전화</th>
                  <th scope="col" align="left">최종내원일</th>
                  <th scope="col" align="right">총수납액</th>
                </tr>
              </thead>
              <tbody>
                <tr data-contextmenu>
                  <td>163</td>
                  <td data-contextname>임선민</td>
                  <td>1959-04-29</td>
                  <td>F</td>
                  <td>010-0000-1234</td>
                  <td>1959-04-29</td>
                  <td>53,780</td>
                </tr>
                <tr data-contextmenu>
                  <td>164</td>
                  <td data-contextname>천즈훼이</td>
                  <td>1959-04-29</td>
                  <td>M</td>
                  <td>010-0000-1234</td>
                  <td>1959-04-29</td>
                  <td>0</td>
                </tr>
                <tr data-contextmenu>
                  <td>1274</td>
                  <td data-contextname>고혜정</td>
                  <td>1959-04-29</td>
                  <td>F</td>
                  <td>010-0000-1234</td>
                  <td>1959-04-29</td>
                  <td>0</td>
                </tr>
                <tr data-contextmenu>
                  <td>9084</td>
                  <td data-contextname>공미경</td>
                  <td>1959-04-29</td>
                  <td>F</td>
                  <td>010-0000-1234</td>
                  <td>1959-04-29</td>
                  <td>1,563,700</td>
                </tr>
                <tr data-contextmenu>
                  <td>9084</td>
                  <td data-contextname>공미경</td>
                  <td>1959-04-29</td>
                  <td>F</td>
                  <td>010-0000-1234</td>
                  <td>1959-04-29</td>
                  <td>1,563,700</td>
                </tr>
                <tr data-contextmenu>
                  <td>9084</td>
                  <td data-contextname>공미경</td>
                  <td>1959-04-29</td>
                  <td>F</td>
                  <td>010-0000-1234</td>
                  <td>1959-04-29</td>
                  <td>1,563,700</td>
                </tr>
                <tr data-contextmenu>
                  <td>9084</td>
                  <td data-contextname>공미경</td>
                  <td>1959-04-29</td>
                  <td>F</td>
                  <td>010-0000-1234</td>
                  <td>1959-04-29</td>
                  <td>1,563,700</td>
                </tr>
                <tr data-contextmenu>
                  <td>9084</td>
                  <td data-contextname>공미경</td>
                  <td>1959-04-29</td>
                  <td>F</td>
                  <td>010-0000-1234</td>
                  <td>1959-04-29</td>
                  <td>1,563,700</td>
                </tr>
                <tr data-contextmenu>
                  <td>9084</td>
                  <td data-contextname>공미경</td>
                  <td>1959-04-29</td>
                  <td>F</td>
                  <td>010-0000-1234</td>
                  <td>1959-04-29</td>
                  <td>1,563,700</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="7">
                    <div class="total">
                      <span class="total_txt">합계</span>
                      <span class="total_num">6,522,200</span>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
            <div class="dropdown context_menu">
              <div class="dropdown_option dropdown_history">
                <ul>
                  <li>
                    <ul>
                      <li>
                        <a href="#none">[<span class="context_name"></span>]님 선택</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <ul>
                      <li>
                        <a href="#none">[<span class="context_name"></span>]님 인적사항 보기</a>
                      </li>
                      <li>
                        <a href="#none">[<span class="context_name"></span>]님 전자차트 보기</a>
                      </li>
                      <li>
                        <a href="#none">[<span class="context_name"></span>]님 외부 X-Ray 실행</a>
                      </li>
                      <li>
                        <a href="#none">[<span class="context_name"></span>]님 예약 검색</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
