<div class="popup_wrap">
  <div class="popup" id="echart_add_disease_popup" style="display: block;">
    <div class="popup_innerwrap">
      <div class="popup_head">
        <strong class="tit">상병명 선택</strong>
        <button class="popup_close_btn"><span class="blind">팝업 닫기</span></button>
      </div>
      <div class="popup_cont">
        <div class="popup_inner" data-simplebar>
          <div class="medical_record">
            <strong class="title" size="16" weight="bold">김덴트님의 이전 진료기록 상병명 목록</strong>
            <div class="table" data-row-select>
              <table data-simplebar>
                <colgroup>
                  <col style="width: 168px;">
                  <col style="width: 80px;">
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th>치식</th>
                    <th>상병코드</th>
                    <th>상병명</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="tooth_map">
                        <ul class="tooth_address">
                          <li class="is_visible">8</li>
                          <li class="is_visible">7</li>
                          <li class="is_visible">6</li>
                          <li class="is_visible">5</li>
                          <li class="is_visible">4</li>
                          <li class="is_visible">3</li>
                          <li class="is_visible">2</li>
                          <li class="is_visible">1</li>
                        </ul>
                        <ul class="tooth_address">
                          <li class="is_visible">1</li>
                          <li class="is_visible">2</li>
                          <li class="is_visible">3</li>
                          <li class="is_visible">4</li>
                          <li class="is_visible">5</li>
                          <li class="is_visible">6</li>
                          <li class="is_visible">7</li>
                          <li class="is_visible">8</li>
                        </ul>
                        <ul class="tooth_address">
                          <li class="is_visible">8</li>
                          <li class="is_visible">7</li>
                          <li class="is_visible">6</li>
                          <li class="is_visible">5</li>
                          <li class="is_visible">4</li>
                          <li class="is_visible">3</li>
                          <li class="is_visible">2</li>
                          <li class="is_visible">1</li>
                        </ul>
                        <ul class="tooth_address">
                          <li class="is_visible">1</li>
                          <li class="is_visible">2</li>
                          <li class="is_visible">3</li>
                          <li class="is_visible">4</li>
                          <li class="is_visible">5</li>
                          <li class="is_visible">6</li>
                          <li class="is_visible">7</li>
                          <li class="is_visible">8</li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      K05.31
                    </td>
                    <td>
                      만성 복합치주염
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="tooth_map">
                        <ul class="tooth_address">
                          <li>8</li>
                          <li>7</li>
                          <li>6</li>
                          <li>5</li>
                          <li>4</li>
                          <li>3</li>
                          <li>2</li>
                          <li>1</li>
                        </ul>
                        <ul class="tooth_address">
                          <li>1</li>
                          <li>2</li>
                          <li>3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                          <li>7</li>
                          <li>8</li>
                        </ul>
                        <ul class="tooth_address">
                          <li>8</li>
                          <li>7</li>
                          <li class="is_visible">6</li>
                          <li>5</li>
                          <li>4</li>
                          <li>3</li>
                          <li>2</li>
                          <li>1</li>
                        </ul>
                        <ul class="tooth_address">
                          <li>1</li>
                          <li>2</li>
                          <li>3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                          <li>7</li>
                          <li>8</li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      K02.1
                    </td>
                    <td>
                      상아질의 우식
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="tooth_map">
                        <ul class="tooth_address">
                          <li>8</li>
                          <li>7</li>
                          <li>6</li>
                          <li>5</li>
                          <li>4</li>
                          <li>3</li>
                          <li>2</li>
                          <li>1</li>
                        </ul>
                        <ul class="tooth_address">
                          <li>1</li>
                          <li>2</li>
                          <li>3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                          <li>7</li>
                          <li>8</li>
                        </ul>
                        <ul class="tooth_address">
                          <li>8</li>
                          <li>7</li>
                          <li class="is_visible">6</li>
                          <li>5</li>
                          <li>4</li>
                          <li>3</li>
                          <li>2</li>
                          <li>1</li>
                        </ul>
                        <ul class="tooth_address">
                          <li>1</li>
                          <li>2</li>
                          <li>3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                          <li>7</li>
                          <li>8</li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      K02.2
                    </td>
                    <td>
                      시멘트질의 우식
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="tooth_map">
                        <ul class="tooth_address">
                          <li class="is_visible">8</li>
                          <li class="is_visible">7</li>
                          <li class="is_visible">6</li>
                          <li class="is_visible">5</li>
                          <li class="is_visible">4</li>
                          <li class="is_visible">3</li>
                          <li class="is_visible">2</li>
                          <li class="is_visible">1</li>
                        </ul>
                        <ul class="tooth_address">
                          <li class="is_visible">1</li>
                          <li class="is_visible">2</li>
                          <li class="is_visible">3</li>
                          <li class="is_visible">4</li>
                          <li class="is_visible">5</li>
                          <li class="is_visible">6</li>
                          <li class="is_visible">7</li>
                          <li class="is_visible">8</li>
                        </ul>
                        <ul class="tooth_address">
                          <li class="is_visible">8</li>
                          <li class="is_visible">7</li>
                          <li class="is_visible">6</li>
                          <li class="is_visible">5</li>
                          <li class="is_visible">4</li>
                          <li class="is_visible">3</li>
                          <li class="is_visible">2</li>
                          <li class="is_visible">1</li>
                        </ul>
                        <ul class="tooth_address">
                          <li class="is_visible">1</li>
                          <li class="is_visible">2</li>
                          <li class="is_visible">3</li>
                          <li class="is_visible">4</li>
                          <li class="is_visible">5</li>
                          <li class="is_visible">6</li>
                          <li class="is_visible">7</li>
                          <li class="is_visible">8</li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      K05.30
                    </td>
                    <td>
                      만성 다순치주염
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="tooth_map">
                        <ul class="tooth_address">
                          <li>8</li>
                          <li>7</li>
                          <li>6</li>
                          <li>5</li>
                          <li>4</li>
                          <li>3</li>
                          <li>2</li>
                          <li>1</li>
                        </ul>
                        <ul class="tooth_address">
                          <li>1</li>
                          <li>2</li>
                          <li>3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                          <li>7</li>
                          <li>8</li>
                        </ul>
                        <ul class="tooth_address">
                          <li>8</li>
                          <li>7</li>
                          <li class="is_visible">6</li>
                          <li>5</li>
                          <li>4</li>
                          <li>3</li>
                          <li>2</li>
                          <li>1</li>
                        </ul>
                        <ul class="tooth_address">
                          <li>1</li>
                          <li>2</li>
                          <li>3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                          <li>7</li>
                          <li>8</li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      C03.0
                    </td>
                    <td>
                      윗 잇몸의 악성 신생물
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="tooth_map">
                        <ul class="tooth_address">
                          <li>8</li>
                          <li>7</li>
                          <li>6</li>
                          <li>5</li>
                          <li>4</li>
                          <li>3</li>
                          <li>2</li>
                          <li>1</li>
                        </ul>
                        <ul class="tooth_address">
                          <li>1</li>
                          <li>2</li>
                          <li>3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                          <li>7</li>
                          <li>8</li>
                        </ul>
                        <ul class="tooth_address">
                          <li>8</li>
                          <li>7</li>
                          <li class="is_visible">6</li>
                          <li>5</li>
                          <li>4</li>
                          <li>3</li>
                          <li>2</li>
                          <li>1</li>
                        </ul>
                        <ul class="tooth_address">
                          <li>1</li>
                          <li>2</li>
                          <li>3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                          <li>7</li>
                          <li>8</li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      C03.0
                    </td>
                    <td>
                      윗 잇몸의 악성 신생물
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="tooth_map">
                        <ul class="tooth_address">
                          <li>8</li>
                          <li>7</li>
                          <li>6</li>
                          <li>5</li>
                          <li>4</li>
                          <li>3</li>
                          <li>2</li>
                          <li>1</li>
                        </ul>
                        <ul class="tooth_address">
                          <li>1</li>
                          <li>2</li>
                          <li>3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                          <li>7</li>
                          <li>8</li>
                        </ul>
                        <ul class="tooth_address">
                          <li>8</li>
                          <li>7</li>
                          <li class="is_visible">6</li>
                          <li>5</li>
                          <li>4</li>
                          <li>3</li>
                          <li>2</li>
                          <li>1</li>
                        </ul>
                        <ul class="tooth_address">
                          <li>1</li>
                          <li>2</li>
                          <li>3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                          <li>7</li>
                          <li>8</li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      C03.0
                    </td>
                    <td>
                      윗 잇몸의 악성 신생물
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="corporal_related">
            <strong class="title" size="16" weight="bold">오늘 입력된 진료와 연관된 상병</strong>
            <div class="table">
              <table data-simplebar>
                <colgroup>
                  <col style="width: 80px;">
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th>상병코드</th>
                    <th>상병명</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>K05.31</td>
                    <td>만성 복합치주염</td>
                  </tr>
                  <tr>
                    <td>K08.3</td>
                    <td>잔류(잔존)치근</td>
                  </tr>
                  <tr>
                    <td>K04.7</td>
                    <td>동이 없는 근단주위농양, 치아농양, 치아치조농양</td>
                  </tr>
                  <tr>
                    <td>K05.31</td>
                    <td>만성 복합치주염</td>
                  </tr>
                  <tr>
                    <td>K08.3</td>
                    <td>잔류(잔존)치근</td>
                  </tr>
                  <tr>
                    <td>K04.7</td>
                    <td>동이 없는 근단주위농양, 치아농양, 치아치조농양</td>
                  </tr>
                  <tr>
                    <td>K05.31</td>
                    <td>만성 복합치주염</td>
                  </tr>
                  <tr>
                    <td>K08.3</td>
                    <td>잔류(잔존)치근</td>
                  </tr>
                  <tr>
                    <td>K04.7</td>
                    <td>동이 없는 근단주위농양, 치아농양, 치아치조농양</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="search_corporal">
            <div class="flexbox" align="left" v-align="center">
              <div class="flex_item_group" position="left">
                <strong class="title" size="16" weight="bold">자주쓰는상병명 검색 [34개]</strong>
                <button class="btn" type="button">전체상병 검색</button>
              </div>
              <div class="flex_item_group" position="right">
                <span class="input search_input">
                  <input class="inp_search" type="text" placeholder="검색">
                </span>
              </div>
            </div>
            <div class="content_box">
              <div class="filter_option">
                <ul data-grab-scroll>
                  <li><button class="btn rounded">K00</button></li>
                  <li><button class="btn rounded">K01</button></li>
                  <li><button class="btn rounded">K02</button></li>
                  <li><button class="btn rounded">K03</button></li>
                  <li><button class="btn rounded">K04</button></li>
                  <li><button class="btn rounded">K05</button></li>
                  <li><button class="btn rounded">K06</button></li>
                  <li><button class="btn rounded">K07</button></li>
                  <li><button class="btn rounded">K08</button></li>
                  <li><button class="btn rounded">K09</button></li>
                  <li><button class="btn rounded">K10</button></li>
                  <li><button class="btn rounded">K11</button></li>
                </ul>
              </div>
            </div>
            <div class="table">
              <table data-simplebar>
                <colgroup>
                  <col style="width: 80px;">
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th>상병코드</th>
                    <th>상병명</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>K05.31</td>
                    <td>만성 복합치주염</td>
                  </tr>
                  <tr>
                    <td>K08.3</td>
                    <td>잔류(잔존)치근</td>
                  </tr>
                  <tr>
                    <td>K04.7</td>
                    <td>동이 없는 근단주위농양, 치아농양, 치아치조농양</td>
                  </tr>
                  <tr>
                    <td>K05.31</td>
                    <td>만성 복합치주염</td>
                  </tr>
                  <tr>
                    <td>K08.3</td>
                    <td>잔류(잔존)치근</td>
                  </tr>
                  <tr>
                    <td>K04.7</td>
                    <td>동이 없는 근단주위농양, 치아농양, 치아치조농양</td>
                  </tr>
                  <tr>
                    <td>K05.31</td>
                    <td>만성 복합치주염</td>
                  </tr>
                  <tr>
                    <td>K08.3</td>
                    <td>잔류(잔존)치근</td>
                  </tr>
                  <tr>
                    <td>K04.7</td>
                    <td>동이 없는 근단주위농양, 치아농양, 치아치조농양</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="associated_corporal">
            <strong class="title" size="16" weight="bold">선택된 상병의 연관 상병</strong>
            <div class="table">
              <table data-simplebar>
                <colgroup>
                  <col style="width: 80px;">
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th>상병코드</th>
                    <th>상병명</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>K05.31</td>
                    <td>만성 복합치주염</td>
                  </tr>
                  <tr>
                    <td>K08.3</td>
                    <td>잔류(잔존)치근</td>
                  </tr>
                  <tr>
                    <td>K04.7</td>
                    <td>동이 없는 근단주위농양, 치아농양, 치아치조농양</td>
                  </tr>
                  <tr>
                    <td>K05.31</td>
                    <td>만성 복합치주염</td>
                  </tr>
                  <tr>
                    <td>K08.3</td>
                    <td>잔류(잔존)치근</td>
                  </tr>
                  <tr>
                    <td>K04.7</td>
                    <td>동이 없는 근단주위농양, 치아농양, 치아치조농양</td>
                  </tr>
                  <tr>
                    <td>K05.31</td>
                    <td>만성 복합치주염</td>
                  </tr>
                  <tr>
                    <td>K08.3</td>
                    <td>잔류(잔존)치근</td>
                  </tr>
                  <tr>
                    <td>K04.7</td>
                    <td>동이 없는 근단주위농양, 치아농양, 치아치조농양</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="popup_bottom">
        <button class="btn">취소</button>
        <button class="btn primary">확인</button>
      </div>
    </div>
  </div>
</div>
