<div class="popup_wrap">
  <div class="popup" id="echart_group_button_search_popup" style="display: block;">
    <div class="popup_innerwrap">
      <div class="popup_head">
        <strong class="tit">버튼 검색</strong>
        <button class="popup_close_btn"><span class="blind">팝업 닫기</span></button>
      </div>
      <div class="popup_cont">
        <div class="popup_inner">
          <div class="search_box">
            <span class="input">
              <input type="text" placeholder="버튼이름으로 검색">
            </span>
            <button class="btn" type="button">검색</button>
          </div>
          <div class="result_table">
            <div class="table">
              <table data-simplebar>
                <colgroup>
                  <col>
                  <col>
                  <col>
                </colgroup>
                <thead>
                  <tr>
                    <th>상위그룹</th>
                    <th>중그룹</th>
                    <th>버튼 이름</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>자주하는 진료</td>
                    <td>기본진료</td>
                    <td>구강검진</td>
                  </tr>
                  <tr>
                    <td>자주하는 진료</td>
                    <td>기본진료</td>
                    <td>구내염처치</td>
                  </tr>
                  <tr>
                    <td>자주하는 진료</td>
                    <td>기본진료</td>
                    <td>구내염처치</td>
                  </tr>
                  <tr>
                    <td>자주하는 진료</td>
                    <td>X-ray</td>
                    <td>치근단</td>
                  </tr>
                  <tr>
                    <td>자주하는 진료</td>
                    <td>X-ray</td>
                    <td>동시2매</td>
                  </tr>
                  <tr>
                    <td>자주하는 진료</td>
                    <td>X-ray</td>
                    <td>파노라마</td>
                  </tr>
                  <tr>
                    <td>자주하는 진료</td>
                    <td>X-ray</td>
                    <td>교익촬영</td>
                  </tr>
                  <tr>
                    <td>자주하는 진료</td>
                    <td>X-ray</td>
                    <td>파노라마</td>
                  </tr>
                  <tr>
                    <td>자주하는 진료</td>
                    <td>X-ray</td>
                    <td>파노라마</td>
                  </tr>
                  <tr>
                    <td>자주하는 진료</td>
                    <td>X-ray</td>
                    <td>교익촬영</td>
                  </tr>
                  <tr>
                    <td>자주하는 진료</td>
                    <td>X-ray</td>
                    <td>파노라마</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="popup_bottom">
        <div class="edit_btn_group">
          <button class="edit_btn" style="background-color: #F4AC60;"><i class="icon_edit white"></i></button>
          <span class="txt">검색으로 선택 된 버튼 컬러 표시</span>
        </div>
        <button class="btn">닫기</button>
      </div>
    </div>
  </div>
</div>
