<div class="popup_wrap">
  <div class="popup" id="echart_group_button_popup" style="display: block;">
    <div class="popup_innerwrap">
      <div class="popup_head">
        <strong class="tit">묶음 버튼 스타일 설정</strong>
        <button class="popup_close_btn"><span class="blind">팝업 닫기</span></button>
      </div>
      <div class="popup_cont">
        <div class="popup_inner">
          <div class="flexbox">
            <div class="flex_item_group" position="left">
              <strong class="title" size="14" weight="bold">묶음 버튼 스타일 편집</strong>
            </div>
            <div class="flex_item_group" position="right">
              <div class="select_group">
                <label>사용자</label>
                <div class="select">
                  <button type="button" class="select_btn" value="김덴트">김덴트</button>
                  <div class="select_opt">
                    <ul data-simplebar>
                      <li><button type="button" class="option" value="김덴트">김덴트</button></li>
                      <li><button type="button" class="option" value="김덴트">김덴트</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content_box">
            <div class="bundle_button_setting">
              <div class="select_group">
                <label>사용자</label>
                <div class="select">
                  <button type="button" class="select_btn" value="28">28</button>
                  <div class="select_opt">
                    <ul data-simplebar>
                      <li><button type="button" class="option" value="28">28</button></li>
                      <li><button type="button" class="option" value="29">29</button></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="select_group">
                <label>폰트 선택</label>
                <div class="select">
                  <button type="button" class="select_btn" value="맑은 고딕">맑은 고딕</button>
                  <div class="select_opt">
                    <ul data-simplebar>
                      <li><button type="button" class="option" value="맑은 고딕">맑은 고딕</button></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="select_group">
                <label>폰트 굵기</label>
                <div class="select">
                  <button type="button" class="select_btn" value="보통">보통</button>
                  <div class="select_opt">
                    <ul data-simplebar>
                      <li><button type="button" class="option" value="보통">보통</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="background_setting">
              <div class="edit_btn_group">
                <button class="edit_btn"><i class="icon_edit"></i></button>
                <span class="txt">버튼 배경색</span>
              </div>
              <div class="edit_btn_group">
                <button class="edit_btn"><i class="icon_edit"></i></button>
                <span class="txt">패널 배경색</span>
              </div>
              <div class="edit_btn_group">
                <button class="edit_btn"><i class="icon_edit white_default"></i></button>
                <span class="txt">버튼 글자색</span>
              </div>
              <div class="edit_btn_group">
                <button class="edit_btn"><i class="icon_edit white_custom"></i></button>
                <span class="txt">중그룹 배경색</span>
              </div>
              <div class="edit_btn_group">
                <button class="edit_btn"><i class="icon_edit white_default"></i></button>
                <span class="txt">중그룹 글자색</span>
              </div>
              <div class="edit_btn_group">
                <button class="edit_btn"><i class="icon_edit white_custom"></i></button>
                <span class="txt">선택색</span>
              </div>
            </div>
          </div>
          <p class="note_txt">버튼 높이, 글자체는 현재 컴퓨터에만 적용됩니다.</p>
        </div>
      </div>
      <div class="popup_bottom">
        <button class="btn reset_btn">설정 초기화</button>
        <button class="btn">취소</button>
        <button class="btn primary">적용</button>
      </div>
    </div>
  </div>
</div>
