<div class="layer">
  <div class="popup_wrap">
    <div class="popup" id="medical_alert_popup">
      <div class="popup_innerwrap">
        <div class="popup_head">
          <strong class="tit">Medical Alert</strong>
          <button class="popup_close_btn"><span class="blind">팝업 닫기</span></button>
        </div>
        <div class="popup_cont">
          <div class="popup_inner" data-simplebar>
            <div class="tit_group">
              <strong class="title" size="16" weight="bold">김한국님의 전신병력 체크</strong>
              <div class="btn_right_grp">
                <button class="btn"><i class="icon_check"></i>특이 사항 없음 (N.S) 입력</button>
              </div>
            </div>
            <div class="content" data-simplebar>
              <div class="check_box_wrap">
                <ul>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox1">
                      <label for="chkbox1">B,C형 간염
                      </label>
                    </span>
                    <span class="input">
                      <input type="text">
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" checked id="chkbox2">
                      <label for="chkbox2">당뇨
                      </label>
                    </span>
                    <span class="input">
                      <input type="text" value="2형">
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" checked id="chkbox3">
                      <label for="chkbox3">고혈압
                      </label>
                    </span>
                    <span class="input">
                      <input type="text" value="부가정보">
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox4">
                      <label for="chkbox4">리도케인 알러지
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox5">
                      <label for="chkbox5">협심증, 심근, 뇌경색
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox6">
                      <label for="chkbox6">감염성심내막염 위험환자
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox7">
                      <label for="chkbox7">위장 장애
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox8">
                      <label for="chkbox8">임신중, 임신가능성
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox9">
                      <label for="chkbox9">페니실린 알러지
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox10">
                      <label for="chkbox10">수유중
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox11">
                      <label for="chkbox11">골다공증약 장기 복용
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" checked id="chkbox12">
                      <label for="chkbox12">아스피린 복용중
                      </label>
                    </span>
                    <span class="input">
                      <input type="text" value="부가정보">
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox13">
                      <label for="chkbox13">신장 투석
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox14">
                      <label for="chkbox14">출혈성질환
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox15">
                      <label for="chkbox15">만성 심장판막 질환
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox16">
                      <label for="chkbox16">갑상선 기능 항진증
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox17">
                      <label for="chkbox17">만성 간경화
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox18">
                      <label for="chkbox18">만성 신부전
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox19">
                      <label for="chkbox19">기타
                      </label>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tit_group">
              <strong class="title" size="16" weight="bold">김한국님의 전신병력 히스토리 변경 로그</strong>
              <div class="btn_right_grp">
                <div class="select">
                  <button type="button" class="select_btn" value="김덴트">김덴트</button>
                  <div class="select_opt">
                    <ul data-simplebar>
                      <li><button type="button" class="option" value="김덴트Option A">김덴트</button></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="content" data-simplebar>
              <ul class="change_log_list">
                <li><span>[2020-03-08 10:52 이닥터] 전신병력 특이사항 없음</span><button class="delete_btn"><i class="icon_delete"></i></button></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="popup_bottom">
          <button class="btn setting_btn">Medical alert 설정</button>
          <button class="btn">취소</button>
          <button class="btn primary">확인</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="layer">
  <div class="popup_wrap">
    <div class="popup" id="pregnancy_options">
      <div class="popup_innerwrap">
        <div class="popup_head">
          <strong class="tit">전신병력 부가 정보 선택</strong>
          <button class="popup_close_btn"><span class="blind">팝업 닫기</span></button>
        </div>
        <div class="popup_cont">
          <div class="popup_inner" data-simplebar>
            <div class="tit_group">
              <strong class="title" size="16" weight="bold">임신 선택 항목</strong>
            </div>
            <div class="content" data-simplebar>
              <div class="check_box_wrap">
                <ul>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox20">
                      <label for="chkbox20">초
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox21">
                      <label for="chkbox21">중
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox22">
                      <label for="chkbox22">말
                      </label>
                    </span>
                  </li>
                  <li>
                    <span class="chkbox">
                      <input type="checkbox" id="chkbox23">
                      <label for="chkbox23">예정일
                      </label>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tit_group">
              <strong class="title" size="16" weight="bold">직접 입력</strong>
            </div>
            <textarea class="content" placeholder="내용 입력"></textarea>
          </div>
        </div>
        <div class="popup_bottom">
          <button class="btn">취소</button>
          <button class="btn primary">확인</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="layer">
  <div class="popup_wrap">
    <div class="popup alert_popup" id="ns_processing">
      <div class="popup_innerwrap">
        <div class="popup_cont">
          <strong class="title" size="18" weight="bold">삭제 확인</strong>
          <p>김한국 님의 Medical Alert를 모두 지웠습니다.<br>김한국 님의 전자차트에 Medical Alert “특이사항 없음"으로 등록할까요?</p>
        </div>
        <div class="popup_bottom">
          <button class="btn">예(Y)</button>
          <button class="btn primary">아니오(N)</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="layer show dimmed">
  <div class="popup_wrap">
    <div class="popup alert_popup" id="delete_medical">
      <div class="popup_innerwrap">
        <div class="popup_cont">
          <strong class="title" size="18" weight="bold">삭제 확인</strong>
          <p>현재 히스토리를 삭제 하시겠습니까?<br>삭제한 데이트는 복구할 수 없습니다.</p>
        </div>
        <div class="popup_bottom">
          <button class="btn">예(Y)</button>
          <button class="btn primary">아니오(N)</button>
        </div>
      </div>
    </div>
  </div>
</div>
