<div id="secPanelBasic">
  <div class="tab_group">
    <div class="tab_lst_box">
      <ul class="tab_lst">
        <li class="tab_item is_active">
          <a href="#basic_info" class="tab_btn">기본정보</a>
        </li>
        <li class="tab_item">
          <a href="#plan" class="tab_btn">계획</a>
        </li>
      </ul>
    </div>
    <div class="tabs">
      <div class="tab is_active" id="basic_info">
        <div class="panel_inner">
          <div class="tit_group">
            <strong class="patient_name">김한국 (305) - 12세/男</strong>
          </div>
          <div class="content">
            <ul class="info_list">
              <li class="info_item">
                <span class="info_name">보험구분 : </span>
                <span class="info_val">건강 보험</span>
              </li>
              <li class="info_item">
                <span class="info_name">내원경로 : </span>
              </li>
              <li class="info_item">
                <span class="info_name">소개자 : </span>
              </li>
              <li class="info_item">
                <span class="info_name">구분 : </span>
              </li>
              <li class="info_item">
                <span class="info_name">리콜구분 : </span>
              </li>
              <li class="info_item">
                <span class="info_name">담당 : </span>
                <span class="info_val">이닥터</span>
              </li>
              <li class="info_item">
                <span class="info_name">전화 : </span>
                <span class="info_val">010-2445-3032</span>
              </li>
            </ul>
            <div class="text">
              <textarea name="text" id="memo" class="memo" cols="30" rows="2" placeholder="내용"></textarea>
            </div>
          </div>
          <div class="tit_group">
            <strong class="title" size="14" weight="bold">해피콜 / 개별리콜</strong>
            <div class="btn_right_group">
              <button type="button" class="btn btn_registration">새로등록</button>
            </div>
          </div>
          <div class="content">
            <ul class="info_list" data-simplebar>
              <li class="info_item" data-tooltips>
                <span class="info_txt">[2020-07-02] 1년전-리콜 전 / GI측처 2면</span>
                <div class="tooltips">
                  <p>[2020-07-02] 1년전-리콜 전 / GI측처 2면</p>
                </div>
              </li>
              <li class="info_item" data-tooltips>
                <span class="info_txt">[2020-01-02] 6개월전-리콜 전 / GI측처 2면</span>
                <div class="tooltips">
                  <p>[2020-01-02] 6개월전-리콜 전 / GI측처 2면 다시 확인필요함.</p>
                </div>
              </li>
              <li class="info_item" data-tooltips>
                <span class="info_txt">[2020-07-02] 1년전-리콜 전 / GI측처 2면</span>
                <div class="tooltips">
                  <p>[2020-07-02] 1년전-리콜 전 / GI측처 2면</p>
                </div>
              </li>
              <li class="info_item" data-tooltips>
                <span class="info_txt">[2020-01-02] 6개월전-리콜 전 / GI측처 2면</span>
                <div class="tooltips">
                  <p>[2020-01-02] 6개월전-리콜 전 / GI측처 2면 다시 확인필요함.</p>
                </div>
              </li>
              <li class="info_item" data-tooltips>
                <span class="info_txt">[2020-01-02] 6개월전-리콜 전 / GI측처 2면</span>
                <div class="tooltips">
                  <p>[2020-01-02] 6개월전-리콜 전 / GI측처 2면 다시 확인필요함.</p>
                </div>
              </li>
              <li class="info_item" data-tooltips>
                <span class="info_txt">[2020-07-02] 1년전-리콜 전 / GI측처 2면</span>
                <div class="tooltips">
                  <p>[2020-07-02] 1년전-리콜 전 / GI측처 2면</p>
                </div>
              </li>
              <li class="info_item" data-tooltips>
                <span class="info_txt">[2020-01-02] 6개월전-리콜 전 / GI측처 2면</span>
                <div class="tooltips">
                  <p>[2020-01-02] 6개월전-리콜 전 / GI측처 2면 다시 확인필요함.</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="tit_group">
            <strong class="title" size="14" weight="bold">최근 예약</strong>
            <div class="btn_right_group">
              <button type="button" class="btn">예약검색</button>
              <button type="button" class="btn btn_registration">새 예약</button>
            </div>
          </div>
          <div class="content">
            <ul class="info_list" data-simplebar>
              <li class="info_item" data-tooltips>
                <span class="info_txt">[2021-08-01] <span class="red">미이행</span> - 정기검진</span>
                <div class="tooltips">
                  <p>[2021-08-01] <span class="red">미이행</span> - 정기검진</p>
                </div>
              </li>
              <li class="info_item" data-tooltips>
                <span class="info_txt">[2020-03-08] 이행 - 시간변경 ) 대기 )</span>
                <div class="tooltips">
                  <p>[2020-03-08] 이행 - 시간변경 ) 대기 )</p>
                </div>
              </li>
              <li class="info_item" data-tooltips>
                <span class="info_txt">[2020-03-02] 이행 - 오른쪽 위 이 불거진 피</span>
                <div class="tooltips">
                  <p>[2020-03-02] 이행 - 오른쪽 위 이 불거진 피</p>
                </div>
              </li>
              <li class="info_item" data-tooltips>
                <span class="info_txt">[2020-02-14] 이행 - 오른쪽 위 이 불거진 피</span>
                <div class="tooltips">
                  <p>[2020-02-14] 이행 - 오른쪽 위 이 불거진 피</p>
                </div>
              </li>
              <li class="info_item" data-tooltips>
                <span class="info_txt">[2020-02-14] 이행 - 오른쪽 위 이 불거진 피</span>
                <div class="tooltips">
                  <p>[2020-02-14] 이행 - 오른쪽 위 이 불거진 피</p>
                </div>
              </li>
              <li class="info_item" data-tooltips>
                <span class="info_txt">[2020-02-14] 이행 - 오른쪽 위 이 불거진 피</span>
                <div class="tooltips">
                  <p>[2020-02-14] 이행 - 오른쪽 위 이 불거진 피</p>
                </div>
              </li>
              <li class="info_item" data-tooltips>
                <span class="info_txt">[2020-02-14] 이행 - 오른쪽 위 이 불거진 피</span>
                <div class="tooltips">
                  <p>[2020-02-14] 이행 - 오른쪽 위 이 불거진 피</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab" id="plan">
        <ul class="plan_list" data-simplebar>
          <li class="plan_item">
            <span class="chip" style="background: #6AC89F"></span>
            <div class="inner">
              <div class="plan_tit">치료계획 <span>#1 @2021-09-26</span></div>
              <div class="plan_cont">[예정] #23 레진, 크라운, 엔도</div>
            </div>
          </li>
          <li class="plan_item">
            <span class="chip" style="background: #C2C2C2"></span>
            <div class="inner">
              <div class="plan_tit">치료계획 <span>#1 @2021-09-26</span></div>
              <div class="plan_cont">[예정] #23 레진, 크라운, 엔도</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
