<div id="secPanelEtc">
  <div class="tab_group">
    <div class="tab_lst_box">
      <ul class="tab_lst">
        <li class="tab_item">
          <a href="#receipt" class="tab_btn">접수</a>
        </li>
        <li class="tab_item is_active">
          <a href="#reservation" class="tab_btn">예약</a>
        </li>
        <li class="tab_item">
          <a href="#family" class="tab_btn">가족</a>
        </li>
        <li class="tab_item">
          <a href="#introducer" class="tab_btn">소개자</a>
        </li>
      </ul>
    </div>
    <div class="tabs">
      <div class="tab" id="receipt">
        <div class="panel_cont">
          <div class="table">
            <div class="data_filter">
              <div class="calendar">
                <span class="input calendar_input">
                  <input type="text" value="2021-09-10(수)">
                </span>
              </div>
              <button type="button" class="btn rounded">의사선택</button>
            </div>
            <div class="table_area js_context">
              <table data-simplebar>
                <colgroup>
                  <col style="min-width: 92px">
                  <col style="min-width: 187px;">
                </colgroup>
                <thead>
                  <th>상태</th>
                  <th>이름</th>
                </thead>
                <tbody>
                  <tr data-tooltips data-contextmenu>
                    <td>
                      <span class="patient_stt received">접수</span>
                      <div class="tooltips">
                        <strong>김원석(305)님 [접수] - 담당의사 : 한닥터</strong>
                        <p>접수시각 17시 09분</p>
                      </div>
                    </td>
                    <td>김원석(15)</td>
                  </tr>
                  <tr data-tooltips data-contextmenu>
                    <td>
                      <span class="patient_stt received">접수</span>
                      <div class="tooltips">
                        <strong>김원석(305)님 [접수] - 담당의사 : 한닥터</strong>
                        <p>접수시각 17시 09분</p>
                      </div>
                    </td>
                    <td>성영준(14)</td>
                  </tr>
                  <tr data-tooltips data-contextmenu>
                    <td>
                      <span class="patient_stt ready">준비완료</span>
                      <div class="tooltips">
                        <strong>김원석(305)님 [준비완료]</strong>
                        <strong>담당의사 : 한닥터 / 담당직원 : 직원2 / 체어3번</strong>
                        <p>접수시각 17시 09분</p>
                        <dl>
                          <dt>[최근진료]</dt>
                          <dd>
                            <ul>
                              <li>2021-10-25 : 치석제거(연1회)</li>
                              <li>2021-10-23 : 발수, 근관확대, 단, 마취, 러버댐, 치은박리소파술(간단), 구내염 처치</li>
                              <li>2021-02-23 : 치주낭 측정검사</li>
                            </ul>
                          </dd>
                        </dl>
                      </div>
                    </td>
                    <td>김유진(9)</td>
                  </tr>
                  <tr data-tooltips data-contextmenu>
                    <td>
                      <span class="patient_stt under_treat">진료중</span>
                      <div class="tooltips">
                        <strong>김원석(305)님 [진료중]</strong>
                        <strong>담당의사 : 한닥터 / 담당직원 : 직원2 / 체어3번</strong>
                        <p>접수시각 17시 09분</p>
                        <dl>
                          <dt>[최근진료]</dt>
                          <dd>
                            <ul>
                              <li>2021-10-25 : 치석제거(연1회)</li>
                              <li>2021-10-23 : 발수, 근관확대, 단, 마취, 러버댐, 치은박리소파술(간단), 구내염 처치</li>
                              <li>2021-02-23 : 치주낭 측정검사</li>
                            </ul>
                          </dd>
                        </dl>
                      </div>
                    </td>
                    <td>한덴트(8)</td>
                  </tr>
                  <tr data-tooltips data-contextmenu>
                    <td>
                      <span class="patient_stt under_treat">진료중</span>
                      <div class="tooltips">
                        <strong>김원석(305)님 [진료중]</strong>
                        <strong>담당의사 : 한닥터 / 담당직원 : 직원2 / 체어3번</strong>
                        <p>접수시각 17시 09분</p>
                        <dl>
                          <dt>[최근진료]</dt>
                          <dd>
                            <ul>
                              <li>2021-10-25 : 치석제거(연1회)</li>
                              <li>2021-10-23 : 발수, 근관확대, 단, 마취, 러버댐, 치은박리소파술(간단), 구내염 처치</li>
                              <li>2021-02-23 : 치주낭 측정검사</li>
                            </ul>
                          </dd>
                        </dl>
                      </div>
                    </td>
                    <td>김덴트(5)</td>
                  </tr>
                  <tr data-tooltips data-contextmenu>
                    <td>
                      <span class="patient_stt done_treat">진료완료</span>
                      <div class="tooltips">
                        <strong>김원석(305)님 [진료완료]</strong>
                        <strong>담당의사 : 한닥터 / 담당직원 : 직원2 / 체어3번</strong>
                        <p>접수시각 17시 09분</p>
                        <dl>
                          <dt>[최근진료]</dt>
                          <dd>
                            <ul>
                              <li>2021-10-25 : 치석제거(연1회)</li>
                              <li>2021-10-23 : 발수, 근관확대, 단, 마취, 러버댐, 치은박리소파술(간단), 구내염 처치</li>
                              <li>2021-02-23 : 치주낭 측정검사</li>
                            </ul>
                          </dd>
                        </dl>
                      </div>
                    </td>
                    <td>민원기(11)</td>
                  </tr>
                  <tr data-tooltips data-contextmenu>
                    <td>
                      <span class="patient_stt done_treat">진료완료</span>
                      <div class="tooltips">
                        <strong>김원석(305)님 [진료완료]</strong>
                        <strong>담당의사 : 한닥터 / 담당직원 : 직원2 / 체어3번</strong>
                        <p>접수시각 17시 09분</p>
                        <dl>
                          <dt>[최근진료]</dt>
                          <dd>
                            <ul>
                              <li>2021-10-25 : 치석제거(연1회)</li>
                              <li>2021-10-23 : 발수, 근관확대, 단, 마취, 러버댐, 치은박리소파술(간단), 구내염 처치</li>
                              <li>2021-02-23 : 치주낭 측정검사</li>
                            </ul>
                          </dd>
                        </dl>
                      </div>
                    </td>
                    <td>앙덴트(6)</td>
                  </tr>
                  <tr data-tooltips data-contextmenu>
                    <td>
                      <span class="patient_stt done_treat">진료완료</span>
                      <div class="tooltips">
                        <strong>김원석(305)님 [진료완료]</strong>
                        <strong>담당의사 : 한닥터 / 담당직원 : 직원2 / 체어3번</strong>
                        <p>접수시각 17시 09분</p>
                        <dl>
                          <dt>[최근진료]</dt>
                          <dd>
                            <ul>
                              <li>2021-10-25 : 치석제거(연1회)</li>
                              <li>2021-10-23 : 발수, 근관확대, 단, 마취, 러버댐, 치은박리소파술(간단), 구내염 처치</li>
                              <li>2021-02-23 : 치주낭 측정검사</li>
                            </ul>
                          </dd>
                        </dl>
                      </div>
                    </td>
                    <td>최성희(13)</td>
                  </tr>
                  <tr data-tooltips data-contextmenu>
                    <td>
                      <span class="patient_stt stored">수납완료</span>
                      <div class="tooltips">
                        <strong>김원석(305)님 [수납완료]</strong>
                        <strong>담당의사 : 한닥터 / 담당직원 : 직원2 / 체어3번</strong>
                        <p>접수시각 17시 09분</p>
                        <dl>
                          <dt>[최근예약]</dt>
                          <dd>
                            <ul>
                              <li>2021-10-25 [미이행]: A/O, P/E</li>
                            </ul>
                          </dd>
                        </dl>
                        <dl>
                          <dt>[최근진료]</dt>
                          <dd>
                            <ul>
                              <li>2021-10-25 : 치석제거(연1회)</li>
                              <li>2021-10-23 : 발수, 근관확대, 단, 마취, 러버댐, 치은박리소파술(간단), 구내염 처치</li>
                              <li>2021-02-23 : 치주낭 측정검사</li>
                            </ul>
                          </dd>
                        </dl>
                      </div>
                    </td>
                    <td>최성희(15)</td>
                  </tr>
                  <tr data-tooltips data-contextmenu>
                    <td>
                      <span class="patient_stt stored">수납완료</span>
                      <div class="tooltips">
                        <strong>김원석(305)님 [수납완료]</strong>
                        <strong>담당의사 : 한닥터 / 담당직원 : 직원2 / 체어3번</strong>
                        <p>접수시각 17시 09분</p>
                        <dl>
                          <dt>[최근예약]</dt>
                          <dd>
                            <ul>
                              <li>2021-10-25 [미이행]: A/O, P/E</li>
                            </ul>
                          </dd>
                        </dl>
                        <dl>
                          <dt>[최근진료]</dt>
                          <dd>
                            <ul>
                              <li>2021-10-25 : 치석제거(연1회)</li>
                              <li>2021-10-23 : 발수, 근관확대, 단, 마취, 러버댐, 치은박리소파술(간단), 구내염 처치</li>
                              <li>2021-02-23 : 치주낭 측정검사</li>
                            </ul>
                          </dd>
                        </dl>
                      </div>
                    </td>
                    <td>앙덴트(6)</td>
                  </tr>
                </tbody>
              </table>
              <div class="dropdown context_menu">
                <div class="dropdown_option">
                  <ul>
                    <li>
                      <ul>
                        <li>
                          <a href="#none">[송창범] 님 선택</a>
                        </li>
                        <li>
                          <a href="#none">접수대기화면 알림 보내기</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li>
                          <a href="#none">[접수]로 변경</a>
                        </li>
                        <li>
                          <a href="#none">[준비완료]로 변경</a>
                        </li>
                        <li>
                          <a href="#none">[진료중]로 변경</a>
                        </li>
                        <li>
                          <a href="#none">[진료완료]로 변경</a>
                        </li>
                        <li>
                          <a href="#none">[수납완료]로 변경</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#none">접수 취소 (삭제)</a>
                    </li>
                    <li>
                      <ul>
                        <li>
                          <a href="#none">[송창범] 님 인적사항 보기</a>
                        </li>
                        <li>
                          <a href="#none">[송창범] 님 전자차트 보기</a>
                        </li>
                        <li>
                          <a href="#none">[송창범] 님 사진 보기</a>
                        </li>
                        <li>
                          <a href="#none">[송창범] 님 외부 X-Ray 실행</a>
                        </li>
                        <li>
                          <a href="#none">[송창범] 님 예약 검색</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#none">의사필터 선택</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab is_active" id="reservation">
        <div class="panel_cont js_context">
          <div class="data_filter">
            <div class="calendar">
              <span class="input calendar_input">
                <input type="text" value="2021-09-10(수)">
              </span>
            </div>
            <button type="button" class="btn rounded">의사선택</button>
          </div>
          <ul class="list" data-simplebar>
            <li class="item" data-contextmenu data-tooltips>
              <span class="chip" style="background: #6AC89F"></span>
              <div class="inner">
                <div class="item_tit">[18시 30분] <span data-contextname>심정민</span>(9103) - 정기검진</div>
                <div class="item_cont">(30분)</div>
              </div>
              <div class="tooltips">
                <strong>[예약정보]</strong>
                <ul>
                  <li>11월25일 18시 30분 심정민(9103)님 [남 28Y 4M / 최종내원 : 2021-11-16]</li>
                  <li>휴대전화 :</li>
                  <li>예약 내용 : #47 prep</li>
                  <li>담당의사 : 이닥터</li>
                  <li>소요시간 : 60분</li>
                  <li>입력시각 : 2021-11-15 10:41;35</li>
                </ul>
                <strong>[예약 변경 내역]</strong>
                <p>(최근 변경내역이 아래쪽으로 표시됩니다.) <br>[2021-11-15 10:41;35] : 예약 최초 입력 @이닥터</p>
              </div>
            </li>
            <li class="item">
              <span class="chip" style="background: #C2C2C2"></span>
              <div class="inner">
                <div class="item_tit">[18시 30분] 예약 X (신환예약)</div>
                <div class="item_cont">(30분)</div>
              </div>
            </li>
          </ul>
          <div class="dropdown context_menu">
            <div class="dropdown_option">
              <ul>
                <li>
                  <ul>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 선택</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 인적사항 보기</a>
                    </li>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 전자차트 보기</a>
                    </li>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 외부 X-Ray 실행</a>
                    </li>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 예약 검색</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="tab" id="family">
        <div class="panel_cont">
          <div class="table js_context">
            <div class="tit_group">
              <div class="payment">
                <dl>
                  <dt>미수금</dt>
                  <dd>-1,617,480</dd>
                </dl>
              </div>
              <div class="btn_right_group">
                <button type="button" class="btn btn_add">가족추가</button>
              </div>
            </div>
            <div class="table_area">
              <table data-simplebar>
                <colgroup>
                  <col style="min-width: 117px">
                  <col style="min-width: 112px;width:112px">
                </colgroup>
                <thead>
                  <th>환자정보</th>
                  <th>최종내원일</th>
                </thead>
                <tbody>
                  <tr data-tooltips data-contextmenu>
                    <td>
                      <span data-contextname>남덴트</span>
                      <span>(7)</span>
                      <div class="tooltips">
                        <strong>남덴트(7)</strong>
                        <ul>
                          <li>생년월일/성별 : 1956-03-03 (男)</li>
                          <li>전화번호 : 010-0000-0000</li>
                          <li>최초내원일 : 2026-07-25</li>
                          <li>최종내원일 : 2021-08-30</li>
                          <li>수납총액 : 2,695,700</li>
                          <li>소개자수 : 4명</li>
                          <li>소개자 수납총액 : 18,169,600</li>
                        </ul>
                      </div>
                    </td>
                    <td>2021-09-27</td>
                  </tr>
                  <tr data-tooltips data-contextmenu>
                    <td>
                      <span data-contextname>한덴트</span>
                      <span>(8)</span>
                      <div class="tooltips">
                        <strong>한덴트(8)</strong>
                        <ul>
                          <li>생년월일/성별 : 1956-03-03 (男)</li>
                          <li>전화번호 : 010-0000-0000</li>
                          <li>최초내원일 : 2026-07-25</li>
                          <li>최종내원일 : 2021-08-30</li>
                          <li>수납총액 : 2,695,700</li>
                          <li>소개자수 : 4명</li>
                          <li>소개자 수납총액 : 18,169,600</li>
                        </ul>
                      </div>
                    </td>
                    <td>2021-09-27</td>
                  </tr>
                  <tr data-tooltips data-contextmenu>
                    <td>
                      <span data-contextname>김덴트C</span>
                      <span>(939)</span>
                      <div class="tooltips">
                        <strong>김덴트C(939)</strong>
                        <ul>
                          <li>생년월일/성별 : 1956-03-03 (男)</li>
                          <li>전화번호 : 010-0000-0000</li>
                          <li>최초내원일 : 2026-07-25</li>
                          <li>최종내원일 : 2021-08-30</li>
                          <li>수납총액 : 2,695,700</li>
                          <li>소개자수 : 4명</li>
                          <li>소개자 수납총액 : 18,169,600</li>
                        </ul>
                      </div>
                    </td>
                    <td>2021-09-27</td>
                  </tr>
                  <tr data-tooltips data-contextmenu>
                    <td>
                      <span data-contextname>김덴트</span>
                      <span>(2605)</span>
                      <div class="tooltips">
                        <strong>김덴트(2605)</strong>
                        <ul>
                          <li>생년월일/성별 : 1956-03-03 (男)</li>
                          <li>전화번호 : 010-0000-0000</li>
                          <li>최초내원일 : 2026-07-25</li>
                          <li>최종내원일 : 2021-08-30</li>
                          <li>수납총액 : 2,695,700</li>
                          <li>소개자수 : 4명</li>
                          <li>소개자 수납총액 : 18,169,600</li>
                        </ul>
                      </div>
                    </td>
                    <td>2021-09-27</td>
                  </tr>
                  <tr class="fill">
                    <td style="height:170px"></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <div class="dropdown context_menu">
                <div class="dropdown_option">
                  <ul>
                    <li>
                      <ul>
                        <li>
                          <a href="#none">[<span class="context_name"></span>]님 선택</a>
                        </li>
                        <li>
                          <a href="#none">[<span class="context_name"></span>]님을 가족에서 제거</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li>
                          <a href="#none">[<span class="context_name"></span>]님 인적사항 보기</a>
                        </li>
                        <li>
                          <a href="#none">[<span class="context_name"></span>]님 전자차트 보기</a>
                        </li>
                        <li>
                          <a href="#none">[<span class="context_name"></span>]님 외부 X-Ray 실행</a>
                        </li>
                        <li>
                          <a href="#none">[<span class="context_name"></span>]님 예약 검색</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab" id="introducer">
        <div class="tab_left treemenu js_context">
          <ul class="menu_list" data-simplebar>
            <li class="is_extend">
              <div class="menu_control">
                <button type="button" class="btn_extend" data-extend></button>
                <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                  <img class="patient_img" src="../img/components/header_utility/patient_old_female.svg" alt="">
                  <strong class="patient"><span data-contextname>김옥자</span>(85)</strong>
                  <div class="tooltips">
                    <strong>김옥자(85)</strong>
                    <ul>
                      <li>생년월일/성별 : 1956-03-03 (男)</li>
                      <li>전화번호 : 010-0000-0000</li>
                      <li>최초내원일 : 2026-07-25</li>
                      <li>최종내원일 : 2021-08-30</li>
                      <li>수납총액 : 2,695,700</li>
                      <li>소개자수 : 4명</li>
                      <li>소개자 수납총액 : 18,169,600</li>
                    </ul>
                  </div>
                </a>
              </div>
              <ul class="menu_list" data-menuextend>
                <li class="is_extend">
                  <div class="menu_control">
                    <button type="button" class="btn_extend" data-extend></button>
                    <a href="#none" class="btn_tab is_active" data-tooltips data-contextmenu>
                      <img class="patient_img" src="../img/components/header_utility/patient_male.svg" alt="">
                      <strong class="patient"><span data-contextname>김한국</span>(305)</strong>
                      <div class="tooltips">
                        <strong>김한국(305)</strong>
                        <ul>
                          <li>생년월일/성별 : 1956-03-03 (男)</li>
                          <li>전화번호 : 010-0000-0000</li>
                          <li>최초내원일 : 2026-07-25</li>
                          <li>최종내원일 : 2021-08-30</li>
                          <li>수납총액 : 2,695,700</li>
                          <li>소개자수 : 4명</li>
                          <li>소개자 수납총액 : 18,169,600</li>
                        </ul>
                      </div>
                    </a>
                  </div>
                  <ul class="menu_list" data-menuextend>
                    <li>
                      <div class="menu_control">
                        <button type="button" class="btn_extend"></button>
                        <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                          <img class="patient_img" src="../img/components/header_utility/patient_female.svg" alt="">
                          <strong class="patient"><span data-contextname>임선민</span>(163)</strong>
                          <div class="tooltips">
                            <strong>임선민(163)</strong>
                            <ul>
                              <li>생년월일/성별 : 1956-03-03 (男)</li>
                              <li>전화번호 : 010-0000-0000</li>
                              <li>최초내원일 : 2026-07-25</li>
                              <li>최종내원일 : 2021-08-30</li>
                              <li>수납총액 : 2,695,700</li>
                              <li>소개자수 : 4명</li>
                              <li>소개자 수납총액 : 18,169,600</li>
                            </ul>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="menu_control">
                        <button type="button" class="btn_extend"></button>
                        <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                          <img class="patient_img" src="../img/components/header_utility/patient_female.svg" alt="">
                          <strong class="patient"><span data-contextname>천즈췌이</span>(164)</strong>
                          <div class="tooltips">
                            <strong>천즈췌이(164)</strong>
                            <ul>
                              <li>생년월일/성별 : 1956-03-03 (男)</li>
                              <li>전화번호 : 010-0000-0000</li>
                              <li>최초내원일 : 2026-07-25</li>
                              <li>최종내원일 : 2021-08-30</li>
                              <li>수납총액 : 2,695,700</li>
                              <li>소개자수 : 4명</li>
                              <li>소개자 수납총액 : 18,169,600</li>
                            </ul>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="menu_control">
                        <button type="button" class="btn_extend"></button>
                        <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                          <img class="patient_img" src="../img/components/header_utility/patient_baby.svg" alt="">
                          <strong class="patient"><span data-contextname>고혜정</span>(163)</strong>
                          <div class="tooltips">
                            <strong>고혜정(163)</strong>
                            <ul>
                              <li>생년월일/성별 : 1956-03-03 (男)</li>
                              <li>전화번호 : 010-0000-0000</li>
                              <li>최초내원일 : 2026-07-25</li>
                              <li>최종내원일 : 2021-08-30</li>
                              <li>수납총액 : 2,695,700</li>
                              <li>소개자수 : 4명</li>
                              <li>소개자 수납총액 : 18,169,600</li>
                            </ul>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li class="is_extend">
                      <div class="menu_control">
                        <button type="button" class="btn_extend" data-extend></button>
                        <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                          <img class="patient_img" src="../img/components/header_utility/patient_female.svg" alt="">
                          <strong class="patient"><span data-contextname>공미경</span>(9084)</strong>
                          <div class="tooltips">
                            <strong>공미경(9084)</strong>
                            <ul>
                              <li>생년월일/성별 : 1956-03-03 (男)</li>
                              <li>전화번호 : 010-0000-0000</li>
                              <li>최초내원일 : 2026-07-25</li>
                              <li>최종내원일 : 2021-08-30</li>
                              <li>수납총액 : 2,695,700</li>
                              <li>소개자수 : 4명</li>
                              <li>소개자 수납총액 : 18,169,600</li>
                            </ul>
                          </div>
                        </a>
                      </div>
                      <ul class="menu_list" data-menuextend>
                        <li>
                          <div class="menu_control">
                            <button type="button" class="btn_extend" data-extend></button>
                            <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                              <img class="patient_img" src="../img/components/header_utility/patient_old_female.svg" alt="">
                              <strong class="patient"><span data-contextname>이영숙</span>(368)</strong>
                              <div class="tooltips">
                                <strong>이영숙(368)</strong>
                                <ul>
                                  <li>생년월일/성별 : 1956-03-03 (男)</li>
                                  <li>전화번호 : 010-0000-0000</li>
                                  <li>최초내원일 : 2026-07-25</li>
                                  <li>최종내원일 : 2021-08-30</li>
                                  <li>수납총액 : 2,695,700</li>
                                  <li>소개자수 : 4명</li>
                                  <li>소개자 수납총액 : 18,169,600</li>
                                </ul>
                              </div>
                            </a>
                          </div>
                          <ul class="menu_list" data-menuextend>
                            <li>
                              <div class="menu_control">
                                <button type="button" class="btn_extend"></button>
                                <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                                  <img class="patient_img" src="../img/components/header_utility/patient_old_female.svg" alt="">
                                  <strong class="patient"><span data-contextname>이영숙</span>(368)</strong>
                                  <div class="tooltips">
                                    <strong>이영숙(368)</strong>
                                    <ul>
                                      <li>생년월일/성별 : 1956-03-03 (男)</li>
                                      <li>전화번호 : 010-0000-0000</li>
                                      <li>최초내원일 : 2026-07-25</li>
                                      <li>최종내원일 : 2021-08-30</li>
                                      <li>수납총액 : 2,695,700</li>
                                      <li>소개자수 : 4명</li>
                                      <li>소개자 수납총액 : 18,169,600</li>
                                    </ul>
                                  </div>
                                </a>
                              </div>
                            </li>
                            <li>
                              <div class="menu_control">
                                <button type="button" class="btn_extend"></button>
                                <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                                  <img class="patient_img" src="../img/components/header_utility/patient_old_male.svg" alt="">
                                  <strong class="patient"><span data-contextname>이길로</span>(539)</strong>
                                  <div class="tooltips">
                                    <strong>이길로(539)</strong>
                                    <ul>
                                      <li>생년월일/성별 : 1956-03-03 (男)</li>
                                      <li>전화번호 : 010-0000-0000</li>
                                      <li>최초내원일 : 2026-07-25</li>
                                      <li>최종내원일 : 2021-08-30</li>
                                      <li>수납총액 : 2,695,700</li>
                                      <li>소개자수 : 4명</li>
                                      <li>소개자 수납총액 : 18,169,600</li>
                                    </ul>
                                  </div>
                                </a>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <div class="menu_control">
                            <button type="button" class="btn_extend"></button>
                            <a href="#none" class="btn_tab" data-tooltips data-contextmenu>
                              <img class="patient_img" src="../img/components/header_utility/patient_old_male.svg" alt="">
                              <strong class="patient"><span data-contextname>이길로</span>(539)</strong>
                              <div class="tooltips">
                                <strong>이길로(539)</strong>
                                <ul>
                                  <li>생년월일/성별 : 1956-03-03 (男)</li>
                                  <li>전화번호 : 010-0000-0000</li>
                                  <li>최초내원일 : 2026-07-25</li>
                                  <li>최종내원일 : 2021-08-30</li>
                                  <li>수납총액 : 2,695,700</li>
                                  <li>소개자수 : 4명</li>
                                  <li>소개자 수납총액 : 18,169,600</li>
                                </ul>
                              </div>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <div class="dropdown context_menu">
            <div class="dropdown_option">
              <ul>
                <li>
                  <ul>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 선택</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 인적사항 보기</a>
                    </li>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 전자차트 보기</a>
                    </li>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 외부 X-Ray 실행</a>
                    </li>
                    <li>
                      <a href="#none">[<span class="context_name"></span>]님 예약 검색</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
