<div class="popup_wrap">
  <div class="popup" id="reservation_memo_popup" style="display: block;">
    <div class="popup_innerwrap">
      <div class="popup_head">
        <strong class="tit">11월 07일 메모</strong>
        <button class="popup_close_btn"><span class="blind">팝업 닫기</span></button>
      </div>
      <div class="popup_cont">
        <div class="popup_inner" data-simplebar>
          <strong class="title" size="16" weight="bold">메모</strong>
          <div class="memo_list_box">
            <div class="content_box" data-simplebar>
              <ul class="memo_list">
                <li>
                  <span class="label" style="background:#EE6950">한</span>
                  <span>오후 5시부터 배선 점검으로 15분 정도 1번부터 3번 진료실까지 이용 불가</span>
                  <button class="delete_btn"><i class="icon_delete"></i></button>
                </li>
                <li>
                  <span class="label" style="background:#6AC89F">이</span>
                  <span>오후 3시부터 외래 진료 시작</span>
                  <button class="delete_btn"><i class="icon_delete"></i></button>
                </li>
                <li>
                  <span class="label" style="background:var(--g500)">직원1</span>
                  <span>오후 5시부터 배선 점검으로 15분 정도 1번부터 3번 진료실까지 이용 불가</span>
                  <button class="delete_btn"><i class="icon_delete"></i></button>
                </li>
                <li>
                  <span class="label" style="background:var(--g500)">직원2</span>
                  <span>오후 3시부터 외래 진료 시작</span>
                  <button class="delete_btn"><i class="icon_delete"></i></button>
                </li>
              </ul>
            </div>
          </div>
          <strong class="title" size="16" weight="bold">메모 입력</strong>
          <div class="memo_enter">
            <div class="flexbox" align="start" v-align="stretch">
              <div class="flex_item_group" position="left">
                <div class="content_box">
                  <textarea placeholder="입력"></textarea>
                </div>
              </div>
              <div class="flex_item_group" position="right">
                <button class="btn" type="button">메모<br>추가</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
