<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>

<!-- Components -->
<script src="../js/component/popup.js"></script>
<script src="../js/component/select.js"></script>
<script src="../js/component/datalist.js"></script>
<script src="../js/component/input.js"></script>
<script src="../js/component/tab.js"></script>
<script src="../js/component/dropdown.js"></script>
<script src="../js/component/frequently_phrase.js"></script>
<script src="../js/component/patient_lst.js"></script>
<script src="../js/component/main_nav.js"></script>
<script src="../js/component/draggable_component.js"></script>
<script src="../js/component/webcam_popup.js"></script>
<script src="../js/component/resize_indicator.js"></script>
<script src="../js/component/custom_scroll.js"></script>
<script src="../js/component/edit_mode.js"></script>
<script src="../js/component/tooltips.js"></script>
<script src="../js/component/context.js"></script>
<script src="../js/component/extend.js"></script>
<script src="../js/component/tooth.js"></script>
<script src="../js/component/history.js"></script>
<script src="../js/component/table.js"></script>
<script src="../js/component/checkbox.js"></script>
<script src="../js/component/folding.js"></script>
<script src="../js/component/grab_scroll.js"></script>
<script src="../js/component/record_display_control.js"></script>
<script src="../js/component/memo.js"></script>
<script src="../js/component/outpatient.js"></script>
<script src="../js/component/next_popup.js"></script>
<script src="../js/component/record_display_control.js"></script>
<script src="../js/component/next_frequently.js"></script>
<script src="../js/component/imp_popup.js"></script>
<script src="../js/component/add_text_input.js"></script>
<script src="../js/component/oral_result.js"></script>
<script src="../js/component/open_inpOther.js"></script>
<script src="../js/component/suggest_input.js"></script>
<script src="../js/component/shortcut_popup.js"></script>
<script src="../js/component/categorized_list.js"></script>
<script src="../js/component/photo_before_after.js"></script>
<script src="../js/component/photo_slide.js"></script>
<script src="../js/component/undo_gums.js"></script>
