<div class="popup" id="viewer_popup">
  <div class="popup_innerwrap">
    <div class="popup_head">
      <strong class="tit">김한국(503)님의 파일</strong>
    </div>
    <div class="popup_cont">
      <div class="file_control_box">
        <div class="files_nav_box">
          <span class="input">
            <input type="text" readonly value="2021-11-11 파노라마 사진.png">
          </span>
          <button class="btn" type="button"><i class="icon_prev"></i></button>
          <button class="btn" type="button"><i class="icon_next"></i></button>
        </div>
        <div class="drawing_tools_box">
          <ul>
            <li>
              <button type="button" class="edit_tool_btn"><i class="icon_zoom_in"></i></button>
            </li>
            <li>
              <button type="button" class="edit_tool_btn"><i class="icon_zoom_out"></i></button>
            </li>
          </ul>
          <span class="divide"></span>
          <ul>
            <li>
              <button type="button" class="edit_tool_btn"><i class="colorbox" style="background: #EE6950; border: 1px solid rgba(0, 0, 0, 0.1);"></i></button>
            </li>
            <li>
              <button type="button" class="edit_tool_btn"><i class="icon_pencil"></i></button>
            </li>
            <li>
              <button type="button" class="edit_tool_btn"><i class="icon_pencil"></i></button>
            </li>
            <li>
              <div class="dropdown">
                <button type="button" class="edit_tool_btn dropdown_btn"><i class="icon_figure_normal"></i></button>
                <div class="dropdown_option">
                  <ul>
                    <li>
                      <button type="button" class="edit_tool_btn"><i class="icon_figure_line"></i></button>
                    </li>
                    <li>
                      <button type="button" class="edit_tool_btn"><i class="icon_figure_arrow"></i></button>
                    </li>
                    <li>
                      <button type="button" class="edit_tool_btn"><i class="icon_figures_square"></i></button>
                    </li>
                    <li>
                      <button type="button" class="edit_tool_btn"><i class="icon_figure_circle"></i></button>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <button type="button" class="edit_tool_btn"><i class="icon_drawing_thin"></i></button>
            </li>
            <li>
              <button type="button" class="edit_tool_btn"><i class="icon_drawing_thick"></i></button>
            </li>
            <li>
              <button type="button" class="edit_tool_btn"><i class="icon_rotation_left"></i></button>
            </li>
            <li>
              <button type="button" class="edit_tool_btn"><i class="icon_rotation_right"></i></button>
            </li>
          </ul>
          <span class="divide"></span>
          <ul>
            <li>
              <button type="button" class="edit_tool_btn"><i class="icon_undo_disabled"></i></button>
            </li>
            <li>
              <button type="button" class="edit_tool_btn"><i class="icon_redo_disabled"></i></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="file_viewer">
        <img src="../img/viewer_popup/xray_sample.png" alt="">
        <button type="button" class="download_btn"><i class="icon_download"><span class="blind">선택한 이미지 다운로드</span></i></button>
      </div>
    </div>
  </div>
</div>
